{% load url from future %}
{% load i18n %}
{% load thumbnail %}
{% load currency_filters %}
{% load staticfiles %}

 {% block extrastyles %}
  {# {{ block.super }}#}
   <link rel='stylesheet' type='text/css' href="{% static 'style_modal.css' %}"/>

 {% endblock %}

{% if basket_warnings %}
    <h5>{% trans "Important messages about items in your basket" %}</h5>
    {% for warning in basket_warnings %}
        <div class="alert">{{ warning }}</div>
    {% endfor %}
{% endif %}

{% if upsell_messages %}
    <div class="well">
        <h2>{% trans "You could be missing out on offers!" %}</h2>
        {% for upsell in upsell_messages %}
            {% blocktrans with message=upsell.message url=upsell.offer.get_absolute_url offer_name=upsell.offer.name %}
                <div class="warning">{{ message }} to qualify for the <a href="{{ url }}">{{ offer_name }}</a> special offer</div>
            {% endblocktrans %}
        {% endfor %}
    </div>
{% endif %}


{% if not basket.is_empty %}
   

 <div class="row-fluid" style="padding-bottom:1.6em;margin-bottom:30px;border-bottom: 6px solid #B59FA8;">
    <div class="span6">

 {% block basket_form_headers %}
        <div class="basket-title hidden-phone">
            <div class="row-fluid">

                <h3 class="span6">Items {% if basket.seller %}from <a href="{% url 'catalogue:index' %}?booth={{basket.seller.name}}">{{basket.seller.name}}</a>{% endif %}{#{% trans "Items to buy now" %}#}</h3>
            {% comment %}
                <h4 class="span4">{% trans "Quantity" %}</h4>
                <h4 class="span2 align-right">{% trans "Price" %}</h4>
{% endcomment %}
            </div>
        </div>
    {% endblock %}


    {% block basket_form_main %}

        {# <form action="." method="post" class="basket_summary" id="basket_formset">#}
            {% csrf_token %}
            {{ formset.management_form }}

            {% for form in formset %}
                <div class="basket-item">
                    <div class="row-fluid">
                        <div class="span6">
                            {{ form.id }}
                            <div class="image_containe" style="width:80%">
                                {% with image=form.instance.product.primary_image %}
                                    {% thumbnail image.original "200x200" upscale=False as thumb %}
                                    <a href="{{ form.instance.product.get_absolute_url }}"><img class="thumbnail" src="{{stat_url}}{{thumb.name}}" alt="{{ form.instance.product.get_title }}" /></a>
                                    {% endthumbnail %}
                                {% endwith %}
                            </div>


                        </div>
                        <div class="span6">


                            <h4><a href="{{ form.instance.product.get_absolute_url }}">{{ form.instance.description }}</a></h4>
                            <p class="availability {{ form.instance.product.stockrecord.availability_code }}">{{ form.instance.product.stockrecord.availability }}</p>

                         
                            <div class="checkout-quantity control-group {% if form.errors %}error{% endif %}">
    
    {% comment %}
                            <div style="display:inline-block">
                                <div class="pull-left" style="float:left;margin:0;">{{ form.quantity }}</div>

                                <div class="price_color pull-right" style="float:right;margin:0.5em 0">{{ form.instance.unit_price_incl_tax|currency }}</div>
                            </div>
{% endcomment %}
{% comment %}
                                <button class="btn orgButton" type="submit">{% trans "Update" %}</button>
{% endcomment %}
                                <a href="#" data-id="{{ forloop.counter0 }}" data-behaviours="remove" class="inline">{% trans "Remove" %}</a>

                           <form action="/basket/list/" method="post" style="min-width:100%">
                                   <input type="hidden" name="basket_id" value="{{basket.id}}">
                                    <input type="hidden" name="line_id" value="{{form.instance.id}}">
                            Quantity:<input style="width:4em;" type='number' size='3' name='quantity' min=1 step=1  value="{{form.instance.quantity}}">

                                      <input type="hidden" name="update-quantity" value="True">

                                    <input style="background-color:#F5EBCC;margin:0 auto;border-width:3px;font-size:0.8em;width:100%" type='submit' value="{% trans 'Update' %}">
                                  </form>

                                  <form action="/basket/list/" method="post" style="min-width:100%">
                                   <input type="hidden" name="basket_id" value="{{basket.id}}">
                                    <input type="hidden" name="line_id" value="{{form.instance.id}}">

                                      <input type="hidden" name="remove-line" value="True">

                                    <input style="background-color:#F5EBCC;margin:0 auto;border-width:3px;font-size:0.8em;width:100%" type=submit value="{% trans "Remove" %}">
                                  </form>

{% comment %}
                                {% if request.user.is_authenticated %}
                                    | <a href="#" data-id="{{ forloop.counter0 }}" data-behaviours="save" class="inline">{% trans "Save for later" %}</a>
                                {% endif %}
            {% endcomment %}
                                <div style="display:none">
                                    {{ form.save_for_later }}
                                    {{ form.DELETE }}
                                </div>
                                {% for field_errors in form.errors.values %}
                                    {% for error in field_errors %}
                                        <span class="help-block"><i class="icon-exclamation-sign"></i> {{ error }}</span>
                                    {% endfor %}
                                {% endfor %}
                                </div>
                        {#</div>#}
                        {#<div class="span2">#}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {#</form>#}
    {% endblock %}

    <div class="row-fluid">
        {% block vouchers %}
           
        {% endblock vouchers %}

    </div>

{% comment %}
    {% block formactions %}
        <div class="form-actions clearfix" >
            <a href="{% url 'checkout:index' %}" class="pull-right btn btn-large btn-primary btn-full">{% trans "Proceed to checkout" %}</a>
        </div>
   
 {% endblock formactions %}
{% endcomment %}
</div> {# span 7#}
    
    <div class="span1">
    </div>
   

    <div class="span5 pull-right">



{% block simpleCheckout %}
<br><br>
 <div class="span7 pull-left" style="margin:0"> 
<h3> Pay here for items from {{basket.seller.name }}'s  booth.</h3>
</div>
        {% block baskettotals %}
            <div class="span4 pull-right"> 
            <th class="total pull-right"><h4 class="pull-right">{% trans "Order total" %}</h4></th>
                <div style="clear:both"></div>
                <td class="total pull-right"><h4 class="price_colo pull-right" style="margin-top:0;padding-top:0;color:#777777;font-size:1.4em">{{ order_total_incl_tax|currency }}</h4></td>
           </div>
        {% endblock baskettotals %}

  <div style="clear:both" ></div>



{% if basket.sponsored_org %}

    <div class="span7 pull-left" style="margin:0">


<p> You have chosen to benefit <br> <b>{{basket.sponsored_org.name}}</b> <br>with this
transaction. </p>

  <form style="float:left;margins=auto;" method=post action="#">
    <input type="hidden" name="basket_id" value={{basket.id}} /> 
    <input type="hidden" name="unsetSponsoredOrg" value='' /> 

    <button style="width:100%;" class="orgButton" type="submit" name="sponsoredOrg" value="">Choose again</button>

  </form>

</div> {# grid span #}

<div style="clear:both"></div>

 <form style="float:left;margin:1.2em 0 0 0" method=post action="{% url 'checkout:payment-details' %}">
    <input type="hidden" name="basket_id" value={{basket.id}} /> 
    <input type="hidden" name="place-order" value="True" /> 

    <button style="width:100%;background-color:#D9E9FF;" class="orgButton" type="submit" name="sponsoredOrg" value="">Place Order</button>

  </form>


{% if basket.seller.stripeSellerToken and basket.seller.stripeSellerPubKey %}
  
  <div style="margin-top:100px;">
    <form action="/charge_shared" method="post" >
      <article>
        <label>
          <span>Your total is ${{basket.order_total_incl_tax}}</span>
        </label>
      </article>


    {% if mu.stripeHasCard %}
      <input type=submit value="Pay now" onclick=loopSelected();>
    {% else %}

      <script src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
            data-key="{{o.seller.stripeSellerPubKey}}"
            data-description="Checkout (for testing, enter 4242 4242 4242 4242 as
            the credit card number)"
            data-amount="{{basket.order_total_incl_tax_in_cents}}"></script>
    {% endif %}

    <input type="hidden" name="orderSeqId" value={{basket.id}} /> 

    </form>
  </div>  {#charge form wrapper #}

 {% else %} {# no stripe setup #}
    <br><br>
{#    <h3> Unfortunately this seller has not registered with any of our payment methods. </h3> #}

 {% endif %}  {# seller is registered with payment #}


{% else %} {# no org picked #}
    
    <div class="span8 pull-left" style="margin:0">

  <p>
    First, please choose the organization you wish to benefit from this sale: 
    <a style="color:#ff6666;font-size:1.0em;float:lef;margin-left:0.5em" href="#openModalGive"> What's this?</a>

  </p>

    <div id="openModalGive" class="modalGiveBackDialog">
      <div> 
        <a href="#close" title="Close" class="close">X</a>
        <h2>Giving Back To The Local Food Community</h2>
        <p> Every time you buy something on homemade1616.com, we donate 10% of our proceeds to an amazing California-based food-related nonprofit organization, and you get to choose which organization receives that donation upon checkout! </p> <p> Sellers pay nothing extra. You pay nothing extra. We think giving back is the right thing to do.
        </p>
        <form action="#close" method="" >
          <article>
          <label>
            <span></span>
          </label>
          </article>
          <input type="hidden" name="return" value="True" /> 
          <div class=deleteButto><input type=submit value="Close window"></div>
      
        </form>      
    </div> 
  </div>
  {% for sponsored_org in current_sponsored_orgs %}

   <form style="float:right;margin:0px;" method=post action="#">
     <input type="hidden" name="basket_id" value={{basket.id}} /> 
     <input type="hidden" name="setSponsoredOrg" value='' /> 
     <input type="hidden" name="sponsored_org_id" value='{{sponsored_org.id}}' /> 

     <button style="width:170px;height:3em;padding:5px 6px 5px 6px" class="orgButton" type="submit" name="sponsoredOrg" value="">{{sponsored_org.name}}</button>

  </form>
  <div style="clear:both"> </div>

  {% endfor %} {# current sponsored orgs #}

  </div> {# grid span #}

{% endif %}   {# sponsoredOrg#}


{% endblock %}

</div> {# grid span 4 #}
</div> {# row fluid#}

{% else %}
    {% block emptybasket %}
        <p>
            {% trans "Your basket is empty." %}
            <a href="{% url 'catalogue:index' %}">{% trans "Continue shopping" %}</a>
        </p>
    {% endblock %}
{% endif %}

{% block savedbasket %}
    {% if request.user.is_authenticated and saved_formset %}
        <div class="well">
            <div class="sub-header">
                <h3>{% trans "To buy later" %}</h3>
            </div>

            <div class="row-fluid basket-title hidden-phone">
                <h4 class="span8">{% trans "Items" %}</h4>
                <h4 class="span2 align-center">{% trans "Price" %}</h4>
                <div class="span2">&nbsp;</div>
            </div>
            <form action="{% url 'basket:saved' %}" method="post" class="form-stacked later_summary" id="saved_basket_formset">
                {% csrf_token %}
                {{ saved_formset.management_form }}
                {% for form in saved_formset %}
                    <div class="row-fluid basket-items">
                        <div class="span8">
                            {{ form.id }}
                            <div class="image_container">
                                {% with image=form.instance.product.primary_image %}
                                    {% thumbnail image.original "200x200" upscale=False as thumb %}
                                    <a href="{{ form.instance.product.get_absolute_url }}"><img class="thumbnail" src="{{stat_url}}{{thumb.name}}" alt="{{ form.instance.product.get_title }}"></a>
                                    {% endthumbnail %}
                                {% endwith %}
                            </div>
                            <h4><a href="{{ form.instance.product.get_absolute_url }}">{{ form.instance.description }}</a></h4>
                            <p class="availability {{ form.instance.product.stockrecord.availability_code }}">{{ form.instance.product.stockrecord.availability }}</p>
                            <a href="#" data-id="{{ forloop.counter0 }}" data-behaviours="remove">{% trans "Remove" %}</a>
                            <div style="display:none">
                                {{ form.move_to_basket }}
                                {{ form.DELETE }}
                            </div>
                        </div>
                        <div class="span2 pull-right"><p class="price_color">{{ form.instance.unit_price_incl_tax|currency }}</p></div>
                        <div class="span2"><a href="#" data-id="{{ forloop.counter0 }}" class="btn pull-right btn-full" data-behaviours="move">{% trans "Move to basket" %}</a></div>
                    </div>
                {% endfor %}
            </form>
        </div>
    {% endif %}
{% endblock %}
