{% extends "layout_booth.html" %}

{% load url from future %}
{% load currency_filters %}
{% load basket_tags %}
{% load promotion_tags %}
{% load category_tags %}
{% load product_tags %}
{% load i18n %}
{% load staticfiles %}
{% load thumbnail %}
{% load replace %}

{% block title %}
    {{ summary }} | {{ block.super }}
{% endblock %}


{% block headertext %}




{% endblock %}

{% block extrastyles %}
  {{ block.super }}
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>

<link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.9.1/themes/smoothness/jquery-ui.css" />


<script type="text/javascript" src="{% static 'oscar/js/jquery-ui-timepicker-addon.js' %}"></script>


<style>

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 45%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 45% 10px 10px; }
</style>


{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url "promotions:home" %}">{% trans "Home" %}</a>
            <span class="divider">/</span>
        </li>
        {% if not category %}
            <li class="active">{% trans "All products" %}</li>
        {% else %}
            {% for category in category.get_ancestors|slice:":-1" %}
                <li>
                    <a href="{{ category.get_absolute_url }}">{{ category.name }}</a>
                    <span class="divider">/</span>
                </li>
            {% endfor %}
            <li class="active">{{ category.name }}</li>
        {% endif %}
    </ul>
{% endblock breadcrumbs %}

                {% block mini_basket %} 
                                {% endblock %}



 {% block product_seller%}
   <div class="row-fluid" style="margin: 2em 0 1.3em 1em">

    <div class="span5" >
      <div style="font-size:1.8em;font-weight:bold">{{summary}}</div>   
    </div>

    {% if request.user.partner == partner or user.is_staff %} 


    <div class="span4" style="mmax-width:300px;;display:block">

       <div class="row-fluid">
        <div class="span6" style="margin:0">
       {#<a href="../dashboard/catalogue/products/create/1/"><i class="icon-hand-up"></i> Add new item</a> #}
        <input id="addNewItemButton" class="btnBooth pull-lef" style="margin:0;margin-lef:1em;width:100%" type="button" value="Add New Item" onclick=location.href="../dashboard/catalogue/products/create/1/">
        </div>

        <div class="span6" style="margin:0">
          <input class="btnBooth pull-left" style="margin:0;width:100%" type="button" value="Edit this Booth" onclick=location.href="/homemade/edit_store/">
        </div>
</div>



        <div style="clear:both"></div>


                 <form action="#" method="post" style="min-width:100%">
                  <input type="hidden" name="id" value={{partner.id}}>
                  <input type="hidden" name="enable" value="True">
                  <input class="btnBooth" style="background-color:#F5EBCC;margin:0 auto;border-width:3px;font-size:0.8em;width:100%" type=submit value="{% trans "Click to make all items visible to buyers" %}">
                </form>
                <form action="#" method="post" style="min-width:100%;margin:0">
                  <input type="hidden" name="id" value={{partner.id}}>
                  <input type="hidden" name="disable" value="True">
                  <input class="btnBooth" style="clear:both;background-color:#F5EBCC;margin:0 auto;border-width:3px;font-size:0.8em;width:100%" type=submit value="{% trans "Click to hide all items from buyers" %}">
                </form>
               

     		 {% if not partner.stripeToken %} 
  				 <div class="stripesignupstore">
<div style="margin-bottom:12px;">Click below to set up a Stripe account for payment processing.</div>


<a id="stripeConnect" style="margin-top:12px;" href="{% url 'stripeLogin' %}" > <img src="{% static 'icons/blue.png' %}"></a>
     
   			</div>

   {% endif %}
    {% endif %}

       </div>

    </div>

{% endblock %}

{% block column_left %}

   
    {% category_tree as tree_categories %}
    {% if tree_categories %}
        <div class="side_categories" style="padding: 8px 0;">
            <ul class="nav nav-list">
                <li class="nav-header">{% trans "Browse categories" %}</li>
                {% for tree_category, info in tree_categories %}
                    <li>
                    {% if tree_category.pk == category.pk %}
                        <strong>{{ tree_category.name }}</strong>
                    {% else %}
                        <a href="{{ tree_category.get_absolute_url }}">{{ tree_category.name }}</a>
                    {% endif %}

                    {% if info.has_children %}<ul>{% else %}</li>{% endif %}
                    {% for n in info.num_to_close %}
                        </ul></li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}

{% block content %}




  {% if partner.picPath %}
  <div id="storeBannerWide" class="noMobile" style="margin-bottom:2.4em;width: 100%;height:auto;max-height:16em;overflow:hidden;">
  

  {% thumbnail partner.picPath "x256" as im %}  
     <img src="{{im.url}}" class="store_banner" style="max-width:100%;max-height:256px;">
  {% endthumbnail %}

{% comment %}
     <img src="{{stat_url}}{{u.storePicPath}}" class="store_banner" style="max-width:100%;max-height:256px;">
{% endcomment %}

     </div>
  {% endif %}




    {% if category.description %}
        <div class="row-fluid">
            <div class="span9"><p>{{ category.description|safe }}</p></div>
            {% if category.image %}
                <div class="span3"><img src="{% static category.image.name %}" alt="{{ summary }}" /></div>
            {% endif %}
        </div>
    {% endif %}


 


    {% if products %}
        <section>
            <div class="mod">
                <ol class="cartitems one" style="margin: 1.1em 0.6em 0.5em 0px">

                    {% for product in products %}
                     {% if not "disabled" in product.status or request.user.is_staff or request.user.id == partner.user.id %}

                        <li style="padding-bottom:15px;">{% render_product product is_booth=True %}</li>
                          <hr class="hrCart" > 
                          <br>
                      {% endif %}

                    {% endfor %}
                </ol>
                {% include "partials/pagination.html" %}
            </div>
        </section>
    {% else %}
        <p class="nonefound">{% trans "No products found." %}</p>
    {% endif %}
{% endblock content %}




{% block column_right %} 


 {% if request.user.partner == partner %}
<div style="clear:both;margin-top:1.3em"></div>
<div style="pull-right">

 {% if not partner.stripeToken %} 
{% comment %}
   <div class="stripesignupstore">
 
<br><br>

{% if u.getFirstName %}
{{u.getFirstName}}, c{%else%}C{%endif%}lick below to set up a Stripe account for payment processing.


<br><br>
<a href="{% url 'stripeLogin' %}" > <img src="{% static 'icons/blue.png' %}"></a>
     
   </div>
  {% endcomment %}
  {% else %} 
   
   <br><br>
   You are signed up to accept payments using <a href="https://manage.stripe.com/dashboard" target="_blank">Stripe</a>.
   
    <a id="stripeDashboard" class="btn orgButton" style="bbackground-color:#F0F0F0;margin-left:0;font-size:1em" href="https://manage.stripe.com/dashboard" target="_blank">{% trans 'View your Stripe dashboard' %}</a>


   {% comment %}<a href="{% url 'stripeInfo' %}" > See more details about payments here. </a>{% endcomment %}
   
{% endif  %}  {% comment %} if not stripeAccountToken {% endcomment %}

</div>

  <br>

  {% if not partnerAddress %}
    {# pick an outgoing shipping address #}
    Please add a primary address. <br>
    This is used to estimate shipping costs.
    <a id="selectShippingAddress" class="btn orgButton" style="bbackground-color:#F0F0F0;margin-left:0;font-size:1em;" href="{% url 'customer:store-shipping-address' %}">{% trans 'Submit an address' %}</a>
  {% else %}

    You have an address on file, in zipcode {{partnerAddress.postcode}}.
    <br>

     <a id="selectShippingAddress" class="btn orgButton" style="bbackground-color:#F0F0F0;margin-left:0;font-size:1em" href="{% url 'customer:store-shipping-address' %}">{% trans 'Select a different outgoing address' %}</a>

  {% endif %}


 <a id="selectShippingOptions" class="btn orgButton" style="bbackground-color:#F0F0F0;margin-left:0;font-size:1em" href="{% url 'customer:store-shipping-options' %}">{% trans 'Select shipping and delivery options' %}</a>


{% endif  %} {# is seller#}





<!-- <div class="sellerinfo"> -->
<div class="sellerinfobox"  style="width:85%;max-width:400px;float:right"> 

{% if u.getPersonalNameIfExists %}
  <h2 style="margin:0.6em 0.7em 4px 4px;display:inline-block;vertical-align:top;float:left;width:45%">{{u.getPersonalNameIfExists }}</h2>
{% endif %}
  <div class="sellerPic" style="float:left">
  {% if u.personalPicPath %}
   <img src="{{stat_url}}{{u.personalPicPath}}" class="" style="mmargin-left:0.5em;height:auto;mmax-height:7em;border:2px #777777 solid;border-radius:10px" > 
  {% endif %}  
    </div>

   <div id:"wideClear" style="clear:both;"> </div> 
    
   <div class="sellerBio" style="margin-top:1em;margin-bottom:1em;">
     {%if partner.bio != None and partner.bio != '' %}
       <pre>{{partner.bio|safe}} </pre>
     {%endif%}
   </div>
   <div style="clear:both;" ></div>
   <div class="sellerLinks"> 
    {% comment %}
     <p><a href="{% url 'favSellers' user_name=u.name %}">Favorite Booths</a> </p>
     <p><a href="{% url 'favItems' user_name=u.name %}">Favorite Items</a> </p>
     {% endcomment %}
     
     <p>
     {% comment %}
     <input style="" type="button" value="Favorite Booths" onclick=location.href="{% url 'about'  %}">
    </p>
    <p>
     <input style="" type="button" value="Favorite Items" onclick=location.href="{% url 'about'  %}">
     </p>
{% endcomment %}
   </div>
   {% if u.facebook %}
   <a href="http://facebook.com/{{u.facebook}}"> <img src="{% static "icons/facebook_small.png" %}" class="socialIcon" > </a>
   {% endif %}
   

  {% if request.user != partner.user %}
   
   <p>  <input id="contactSellerButton" style="position:relative;top:0;margin-bottom:0em;margin:0;" type="button" value="Contact Seller" onclick='location.href="/homemade/contact?booth={{partner.id}}"'>
  </p>  
  <br>
  {%endif %}

   
 </div> {# seller box #}



<!-- </div> -->
 
 {% endblock %}


