{% extends "layout_2_col_b.html" %}

{% load url from future %}
{% load currency_filters %}
{% load basket_tags %}
{% load promotion_tags %}
{% load category_tags %}
{% load product_tags %}
{% load i18n %}
{% load staticfiles %}
{% load macros %}

{#{% load endless %}#}


{% block title %}
    {{ summary }} | {{ block.super }}
{% endblock %}

 {% block extrastyles %}
 {{ block.super }}
  <link rel='stylesheet' type='text/css' href="{% static 'style_modal.css' %}"/>

        {% endblock %}

{% block headertext %}{{ summary }}{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url "promotions:home" %}">{% trans "Home" %}</a>
            <span class="divider">/</span>
        </li>
        {% if not category %}
            <li class="active">{% trans "All products" %}</li>
        {% else %}
            {% for category in category.get_ancestors|slice:":-1" %}
                <li>
                    <a href="{{ category.get_absolute_url }}">{{ category.name }}</a>
                    <span class="divider">/</span>
                </li>
            {% endfor %}
            <li class="active">{{ category.name }}</li>
        {% endif %}
    </ul>
{% endblock breadcrumbs %}

              {% block searchBar %}

              {% comment %}
                    <div class="span7 searchWrapper">
                     <form action="/catalogue/" method="get" class="pull-right searchForm">
                       <input type="hidden" name="search" value="True">
                       <input autofocus="autofocus" type="text" style="border-radius:12px;background-color:rgba(255, 255, 255, 0.92);font-size:1.1em" name="q" value="" placeholder="Search by item name....">
                       <input style="width:50px;height:45px;margin-left:-50px;background: url('{{STATIC_URL}}icons/Icon-MagnifyingGlassSearch.png') no-repeat 12px 14px;bbackground-color:rgba(255, 255, 255, 0.0);border-width:0px;font-size:0.9em" type=submit value="">
                     </form>

                     </div>
{% endcomment %}

<script>
$(document).ready(function() {

$('#id_q').focus(function() {

  $('#advancedInput').slideDown(200);
  $(this).attr("placeholder", "Search by item name");


});

});


</script>

<form method="get" action="{% url 'search:search-default' %}" class="navbar-form pull-right">
    {#{{ search_form.q }}#}
 <input id="id_q" name="q" placeholder="Search" tabindex="1" type="search" />
   <script>
   //$("#filterButton").hide();
   
   //{# $("#advancedButton").hide(  );#}
   $(window).load(function () {
   // $("#filterButton").hide();
      //  $("#advancedButton").hide(  );
    
       $("#advancedInput").hide();
      $("#sub_button").hide();

    
     $("#advancedButton").click(function(){
     $("#advancedInput").toggle(300);
     $("#sub_button").toggle(300);

      $("#advancedButton").hide(300);
    });
    
     $(document).keydown(function(objEvent) {
            if (objEvent.keyCode == 13) {
                 $('#sub_button').click();
            }
        })


    
});
   


   </script>



 {#<li style="margin-left:0.1em;">#}
     <input id="advancedButton" style="display:none;float:right;color:#ffffff;background-color:#bbbbbb;" type=button value="Advanced Search" onclick=none;> 
  {#</li>#}

  <div id="advancedInput"  style="display:none">
    
        Search by zipcode:<input type='search' size=5 name=zipcode value="" onfocus="if (this.value == '') {this.value = ''}">
    
    <div style="">
        Radius (miles):<input type='number search' size=2 name=radius min=5 step=1 value=""  onfocus="if (this.value == '') {this.value = 10}"> 
    </div> 
    

    <input  sstyle="ddisplay:none" id="ssub_button" type="submit" value="Submit search">

    </div>



</form>
                {% endblock %}


{% block column_left %}


  {% category_tree as tree_categories %}
    {% if tree_categories %}
<div class="categoryBox">

                  {% for tree_category, info in tree_categories %}

{% comment %}  {% for c  in cList %}{% endcomment %}
  <div class="category">
  

    <div  class="catIcon"  >    
       <a href="{{ tree_category.get_absolute_url }}"><img style="position:relative;left:-1.0em;top:{% if  tree_category.name == "Granola and Cereals"%}-1.5em {%else %}-0.4em{%endif%};"src="{{stat_url}}{{tree_category.image.name}}" onmouseover="this.src={{stat_url}}{{tree_category.image.name}}" onmouseout="this.src={{stat_url}}{{tree_category.image.name}}" /></a>
    </div> 
    <div class="catText"> 
            {% if tree_category.pk == category.pk %}
                 <strong>{{ tree_category.name }}</strong>
            {% else %}
                 <a href="{{ tree_category.get_absolute_url }}">{{ tree_category.name }}</a>
            {% endif %}

      {#} <a href="{% url 'filter' category=c.name) }} " style="">{{c.name|upper|replace:{"AND ", " & "} }</a> #}
    </div>
  </div> 

  
  {% endfor %}
</div> 
    {% endif %}


    {% comment %}
    {% category_tree as tree_categories %}
    {% if tree_categories %}
        <div class="side_categories" style="padding: 8px 0;">
            <ul class="nav nav-list">
                <li class="nav-header">{#{% trans "Browse categories" %}#}</li>
                {% for tree_category, info in tree_categories %}
                    <li>
                    {% if tree_category.pk == category.pk %}
                        <strong>{{ tree_category.name }}</strong>
                    {% else %}
                        <a href="{{ tree_category.get_absolute_url }}">{{ tree_category.name }}</a>
                    {% endif %}

                    {% if info.has_children %}<ul>{% else %}</li>{% endif %}
                    {% for n in info.num_to_close %}
                        </ul></li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endcomment %}
<div class="giveBackBox">

  <img src="{% static 'icons/Icon-Heart.png' %}" class="giveBackHeart"  >
  <div class="helpGiveText"> 
    <a style="color:#E65C5C;font-size:1.0em;float:left;" href="#openModalGive">HELP US GIVE BACK</a>
  </div>

  
    <div style="clear:both;"  > </div>
    <ul>
      <li> Browse the delectable goods  </li>
      <li> Add items to your basket </li>
      <li> Make a payment  </li>
      <li> Select from the list of nonprofits you'd like to support. </li>
      <li> Enjoy your goodies and feel good about your good deeds. Got it? Good. </li>
    </ul>


   
  
</div> 



  
{% endblock %}

{% block content %}

 {% if request.user.partner and partner %}
    <div class="row-fluid">

    <div class="span9" >
        
    </div>
    <div class="span3" >
       <a href="/homemade/about.html"><i class="icon-hand-up"></i> Add new item</a>
    </div>

    </div>
    {% endif %}


    {% if category.description %}
        <div class="row-fluid">
            <div class="span9"><p>{{ category.description|safe }}</p></div>
            {% if category.image %}
                <div class="span3"><img src="{% static category.image.name %}" alt="{{ summary }}" /></div>
            {% endif %}
        </div>
    {% endif %}

    {% if products %}
        <section>
            <div class="mod">
                <ol class="products three">
                {#{% paginate products %}#}

                    {% for product in products %}

                        <li>{% render_product product %}</li>
                    
                    {% endfor %}
                    {#{% show_pages %}#}

                </ol>
                {% include "partials/pagination.html" %}
            </div>
        </section>
    {% else %}
        <p class="nonefound">{% trans "No products found." %}</p>
    {% endif %}



   <div id="openModalGive" class="modalGiveBackDialog">
    <div> 
        <a href="#close" title="Close" class="close">X</a>
        <h2>Giving Back To The Local Food Community</h2>
       <p> Every time you buy something on homemade1616.com, we donate 10% of our proceeds to an amazing California-based food-related nonprofit organization, and you get to choose which organization receives that donation upon checkout! </p> <p> Sellers pay nothing extra. You pay nothing extra. We think giving back is the right thing to do.
    </p>
      <a class="btn orgButton" style="margin-top:14px;" href="#close"> Close window</a>
    {#<div class=deleteButto><input type=submit value="Close window"></div>#}
      

       </div> 
       </div> 


{% endblock content %}

