{% extends "dashboard/layout.html" %}

{% load url from future %}

{% load currency_filters %}
{% load category_tags %}
{% load dashboard_tags %}
{% load i18n %}
{#{% load compress %}#}
{% load staticfiles %}

{% block mainstyles %}
{#    {% compress css %}#}
        <link rel="stylesheet" href="{% static "oscar/css/bootstrap.min.css" %}" />
        {% if use_less %}
            <link rel="stylesheet" type="text/less" href="{% static "oscar/less/dashboard.less" %}" />
        {% else %}
                <link rel="stylesheet" type="text/css" href="{% static "oscar/css/dashboard.css" %}" />
        {% endif %}
    {#{% endcompress %}#}

   {# <link rel="stylesheet" type="text/css" href="{% static "oscar/css/styles.css" %}" />#}

    <style type="text/css">

      .container-fluid {padding:0px;}


      input {
        margin:0;
      }


      input:not([type=submit]):not([type=file]):not([type=button]), textarea, select, button.orgButton {
        margin:0;
      }

    </style>
{% endblock %}

{% block extrastyles %}
    {{ block.super }}
        {#<link rel="stylesheet" href="{% static "oscar/js/bootstrap-wysihtml5/bootstrap-wysihtml5-0.0.2.css" %}" />#}
        <link rel="stylesheet" href="{% static "oscar/js/select2/select2.css" %}" />
        <link rel="stylesheet" href="{% static "oscar/js/jquery/bootstrap-datepicker.css" %}" />
{% endblock %}

{% block title %}
    {% trans "Dashboard" %} | {{ block.super }}
{% endblock %}

   

    {% block navbar %}
 {# Top-horizontal bar with account, notifictions, dashboard links #}
    {% include "partials/nav_accounts.html" %}

    
    {% endblock navbar %}

    {% block dashboard_nav %}
      
    {% endblock %}

        {% block breadcrumbs %}
       
        {% endblock %}

     

{% block extrascripts %}
   {# {{ block.super }} #}
    {#{% compress js %}#}

    {# jQuery plugins #}
    <!-- Custom Jquery UI, only contains date picker -->
    <script src="{% static "oscar/js/jquery/jquery-ui-1.10.1.custom.min.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "oscar/js/mousewheel/jquery.mousewheel.min.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "oscar/js/scrollpane/jquery.jscrollpane.min.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "oscar/js/select2/select2.js" %}" type="text/javascript" charset="utf-8"></script>

    {# WYSIHTML5 #}
    {% comment %}
    <script src="{% static "oscar/js/bootstrap-wysihtml5/wysihtml5-0.3.0.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "oscar/js/bootstrap-wysihtml5/bootstrap-wysihtml5-0.0.2.js" %}" type="text/javascript" charset="utf-8"></script>
{% endcomment %}
    <script src="{% static "oscar/js/oscar/dashboard.js" %}" type="text/javascript" charset="utf-8"></script>
    {#{% endcompress %}#}
{% endblock %}

{% block onbodyload %}
    oscar.dashboard.init();
{% endblock %}
