
  
  {% extends 'dashboard/layout_no_admin.html' %}


{% load url from future %}
{% load i18n %}
{% load currency_filters %}
{% load thumbnail %}
{% load staticfiles %}
{% load crispy_forms_tags %}


{% block body_class %}create-page catalogue{% endblock %}

{% block title %}
{{ title }} | {% trans "Manage items" %} | {{ block.super }}
{% endblock %}



{% block headertext %}{{ title }} <div style="font-size:0.8em">Scroll down to bottom of page and click "Save" when finished</div>
{% endblock %}

{% block dashboard_content %}
<form id="prodForm" action="{% if request.GET.urlencode %}?{{ request.GET.urlencode }}{% endif %}" method="post" class="form-stacked wysiwyg fixed-actions" enctype="multipart/form-data" data-behaviour="affix-nav-errors" autocomplete="off">
    {% csrf_token %}

    {% if request.user.is_staff %}
        Score:  (higher scores appear first in item browsing. Most items have score 0)
        <input type="number" name="scoreVal" value="{{scoreVal}}" />
    {% endif %}


    <div class="row-fluid">
        <div class="span1 pull-left hidden-phone">
            {% comment %}
            <div data-spy="affix" class="affix-top" data-offset-top="200">


                <div class="table-header">
                    <h3>{% trans "Sections" %}</h3>
                </div>
                <ul class="nav nav-list bs-docs-sidenav" id="product_update_tabs">
                    {% if product %}
                    <li ><a href="#overview" data-toggle="tab">{% trans 'Overview' %}</a></li>
                    {% endif %}
                    <li{% if not product %} class="active"{% endif %}><a href="#product_details" data-toggle="tab">{% trans 'Product details' %}</a></li>

                    <li><a href="#product_recommended" data-toggle="tab">{% trans 'Recommended Products' %}</a></li>

                    {% with variants=product.variants.all %}
                    {% if variants|length > 0 %}
                    <li><a href="#product_variants" data-toggle="tab">{% trans 'Product variants' %}</a></li>
                    {% endif %}
                    {% endwith %}
                    <li><a href="#product_attributes" data-toggle="tab">{% trans 'Product attributes' %}</a></li>
                    <li><a href="#product_category" data-toggle="tab">{% trans 'Product category' %}</a></li>
                    <li><a href="#product_images" data-toggle="tab">{% trans 'Product images' %}</a></li>
                    <li class="active"><a href="#everything" data-toggle="tab">{% trans 'Edit Item' %}</a></li>

                    <li><a href="#product_stock" data-toggle="tab">{% trans 'Product stock' %}</a></li>
                </ul>

            </div>
{% endcomment %}
        </div>
        <div class="span9">
            <div class="tab-content">
                {% if product %}
                <div class="tab-pane" id="overview">
                    <div class="table-header">
                        <h3>{% trans "Overview" %}</h3>
                    </div>
                    <div class="well">
                        <h3>{{ product.get_title }}</h3>
                        <hr />
                        <div class="row-fluid">
                            <div class="pull-left">
                             {% if product.primary_image.original.name %}
                                {% with image=product.primary_image %}
                                    {% thumbnail image.original "250x250" upscale=False as thumb %}
                                        <a href="{{ image.original.name }}" rel="lightbox_{{ product.upc|default:"-" }}">
                                            <img src="{{stat_url}}{{thumb.name}}" alt="{{ product.get_title }}" class="img-polaroid" data-description="{% if image.caption %}{{ image.caption }}{% endif %}">
                                        </a>
                                    {% endthumbnail %}
                                {% endwith %}
                                {% endif %}
                            </div>
                            <div class="span9">
                                <p>
                                    <strong>{% trans "Fulfilment partner" %}</strong> <br />
                                    <span class="product-count">
                                        {% if product.has_stockrecord %}
                                            {{ product.stockrecord.partner.name }}
                                        {% else %}
                                            {% trans "Out of stock" %}
                                        {% endif %}
                                    </span>
                                </p>
                                <p><strong>{% trans "Description" %}</strong><br /> {{ product.description|safe }}</p>

                                {% with stats=product.stats %}
                                <table class="table table-striped table-bordered">
                                    <tbody>
                                        <tr>
                                            <th>{% trans "Views" %}</th>
                                            <td>{{ stats.num_views|default:0 }}</td>
                                        </tr>
                                        <tr>
                                            <th>{% trans "Baskets" %}</th>
                                            <td>{{ stats.num_basket_additions|default:0 }}</td>
                                        </tr>
                                        <tr>
                                            <th>{% trans "Purchases" %}</th>
                                            <td>{{ stats.num_purchases|default:0 }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                {% endwith %}
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span4">
                            <div class="table-header">
                                <h3>{% trans "Categories" %}</h3>
                            </div>
                            <table class="table table-striped table-bordered">
                                {% if product.categories %}
                                {% for category in product.categories.all %}
                                <tr><td>{{ category.full_name }}</tr>
                                {% endfor %}
                                {% else %}
                                <tr><td>{% trans "No categories setup for this product" %}</td></tr>
                                {% endif %}
                            </table>
                        </div>
                        <div class="span4">
                            <div class="table-header">
                                <h3>{% trans "Ranges" %}</h3>
                            </div>
                            <table class="table table-striped table-bordered">
                                {% if ranges.count > 0 %}
                                {% for range in ranges %}
                                <tr><td><a href="{% url 'dashboard:range-update' range.id %}" alt="{{ range.name }}">{{ range.name }}</a></td></tr>
                                {% endfor %}
                                {% else %}
                                <tr><td>{% trans "No ranges currently include this product for this product" %}</td></tr>
                                {% endif %}
                            </table>
                        </div>
                        <div class="span4">
                            <div class="table-header">
                                <h3>{% trans "Offers" %}</h3>
                            </div>
                            <table class="table table-striped table-bordered">
                                {% if offers.count > 0 %}
                                    {% for offer in offers %}
                                <tr><td>{{ offer.name }}</td></tr>
                                {% endfor %}
                                {% else %}
                                <tr><td>{% trans "No offers currently include this product" %}</td></tr>
                                {% endif %}
                            </table>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% comment %}
                <div class="tab-pane {% if not product %}active{% endif %}" id="product_details">
                    <div class="table-header">
                        <h3>{% trans "Product Details" %}</h3>
                    </div>
                    <div class="well product-details">
                        <span class="help-block">{{ form.non_field_errors }}</span>
                        {% for field in form %}
                        {% if field.is_hidden %}
                        {{ field }}
                        {% endif %}
                        {% if 'attr' not in field.id_for_label %}
                        <div class="control-group {% for error in field.errors %}error{% endfor %}">
                            {% if field.is_hidden %}
                            {{ field }}
                            {% else %}
                            <label for="{{ field.auto_id }}" class="control-label {% if field.field.required %}required{% endif %}">{{ field.label }}{% if field.field.required %} <span>*</span>{% endif %}</label>
                            <div class="controls">
                                {{ field }}
                                {% for error in field.errors %}
                                <span class="help-block">
                                    {{ error }}
                                </span>
                                {% endfor %}
                                {% if field.help_text %}
                                <span class='help-block'>
                                    {{ field.help_text }}
                                </span>
                                {% endif %}
                            </div>
                            {% endif %}
                        </div>
                        {% endif %}
                        {% endfor %}

                        {% with parent=product.parent %}
                        {% if parent %}
                        <div class="control-group">
                            <label class="control-label">{% trans "Parent" %}</label>
                            <div class="controls">
                                <a href="{% url 'dashboard:catalogue-product' parent.id %}" title="{% blocktrans %}Edit {{ parent.title }}{% endblocktrans %}">{{ parent.title }}</a>
                            </div>
                        </div>
                        {% endif %}
                        {% endwith %}
                    </div>
                </div>
{% endcomment %}
                {% with variants=product.variants.all %}
                {% if variants|length > 0 %}
                <div class="tab-pane" id="product_variants">
                    <table class='table table-striped table-bordered'>
                        <caption>{% trans "Variants" %}</caption>
                        {% with parent=product.parent %}
                        {% if parent %}
                        <tr>
                            <th>{% trans "Parent" %}</th>
                            <th></th>
                        </tr>
                        <tr>
                            <td>{{ parent.title }}</td>
                            <td><a href="{% url 'dashboard:catalogue-product' parent.id %}" class="btn btn-primary" title="{% blocktrans %}Edit {{ parent.title }}{% endblocktrans %}">{% trans "Edit" %}</a></td>
                        </tr>
                        {% endif %}
                        {% endwith %}
                        <tr>
                            <th>{% trans "Children" %}</th>
                            <th></th>
                        </tr>

                        {% for variant in variants %}
                        <tr>
                            <td>{{ variant.title }}</td>
                            <td><a href="{% url 'dashboard:catalogue-product' variant.id %}" class="btn btn-primary">{% trans "Edit" %}</a></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                {% endif %}
                {% endwith %}


                <div class="tab-pane" id="product_attributes">
                    <table class="table table-striped table-bordered">
                        <caption>
                            {% trans "Product Attributes" %}  <span class="label label-success">{% trans "Product class:" %} {{ product.get_product_class }}</span>
                        </caption>
                        <tr>
                            <th>{% trans "Attribute name" %}</th>
                            <th>{% trans "Attribute option" %}</th>
                        </tr>
                        {% for field in form %}
                        {% if 'attr' in field.id_for_label %}
                        <tr>
                            <td>
                                {{ field.label }}{% if field.field.required %} <span>*</span>{% endif %}
                            </td>
                            <td>
                                {% if field.is_hidden %}
                                {{ field }}
                                {% else %}
                                {{ field }}
                                {% for error in field.errors %}
                                <span class="help-block">
                                    {{ error }}
                                </span>
                                {% endfor %}
                                {% if field.help_text %}
                                <span class='help-block'>
                                    {{ field.help_text }}
                                </span>
                                {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </table>
                </div>

                <div class="tab-pane" id="product_category">
                    <table class="table table-striped table-bordered form-inline">
                        <caption>{% trans "Category" %}</caption>
                        {{ category_formset.management_form }}
                        {{ category_formset.non_form_errors }}
                        {% for category_form in category_formset %}
                        <tr>
                            <td>
                                {% include "partials/form_fields_inline.html" with form=category_form %}
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>

         <div class="tab-pane active" id="everything">
               
{% comment %}
<div class="table-header">
                        <h3>{% trans "Edit Item" %}</h3>
                    </div>

                    <div class="well product-details">
                    {% endcomment %}
                        <span class="help-block">{{ form.non_field_errors }}</span>


                        {% for field in form %}
                        {% if field.is_hidden %}
                        {{ field }}
                        {% endif %}
                        {% if 'attr' not in field.id_for_label %}
                        <div class="control-group {% for error in field.errors %}error{% endfor %}">
                            {% if field.is_hidden %}
                            {{ field }}
                            {% else %}
                            <label for="{{ field.auto_id }}" class="control-label {% if field.field.required %}required{% endif %}">{{ field.label }}{% if field.field.required %} <span>*</span>{% endif %}</label>
                            <div class="controls">
                                {{ field }}
                                {% for error in field.errors %}
                                <span class="help-block">
                                    {{ error }}
                                </span>
                                {% endfor %}
                                {% if field.help_text %}
                                <span class='help-block'>
                                    {{ field.help_text }}
                                </span>
                                {% endif %}
                            </div>
                            {% endif %}
                        </div>
                        {% endif %}
                        {% endfor %}

                        {% with parent=product.parent %}
                        {% if parent %}
                        <div class="control-group">
                            <label class="control-label">{% trans "Parent" %}</label>
                            <div class="controls">
                                <a href="{% url 'dashboard:catalogue-product' parent.id %}" title="{% blocktrans %}Edit {{ parent.title }}{% endblocktrans %}">{{ parent.title }}</a>
                            </div>
                        </div>
                        {% endif %}
                        {% endwith %}
                   
                   {% comment %} </div> {% endcomment %}

  {#<div class="tab-pane" id="product_attributes">#}
               
          {#      </div> #}

                    <div class="table-header">
                        <h4>{% trans "Upload, change or remove images. Please have at least one image." %}</h4>
                        <p style="font-size=1.1;color:fcfcfc">
                        Note that if you are using some versions of Safari, the upload image block will not update after you choose your file, but the file will still be uploaded.   Quick tip: access this page from your smartphone or tablet and upload pictures straight from your device.
                        </p>

                    </div>
                    <div class="well">
                        {{ image_formset.management_form }}
                        {{ image_formset.non_form_errors }}
                        <ol class='upload-image'>
                            {% for image_form in image_formset %}
                                {% include "dashboard/partials/product_images.html" with form=image_form %}
                            {% endfor %}
                        </ol>
                    </div>


                <table class="table table-striped table-bordered fform-inline">
                        <caption>{% trans "Please select a suitable category" %}</caption>
                        {{ category_formset.management_form }}
                        {{ category_formset.non_form_errors }}
                        {% for category_form in category_formset %}
                        <tr>
                            <td>{% if forloop.last and not forloop.first %}Select Another{%endif%}
                                {% include "partials/form_fields_inline.html" with form=category_form %}
                            
                            </td>
                        </tr>
                        {% endfor %}
                    </table>


{{ stockrecord_form.non_field_errors }}
           <table class="table table-striped table-bordered fform-inline">

           <tr>
                <th> Price {% if field.field.required %} <span>*</span>{% endif %}</th>
            </tr>
            <tr>
                <td>
                   {{ stockrecord_form.price_excl_tax }}
                    {{ stockrecord_form.price_excl_tax.errors }}
                </td>
            </tr>
            </table>
                           <table>
                              

                                <tr>
                                    <th>Check below if this item can be made to order:</th>
                                </tr>
                                <tr>
                                    <td>
                                        {{ stockrecord_form.made_to_order }}
                                        {{ stockrecord_form.made_to_order.errors }}
                                    </td>
                              
                                </tr>
                    </table>    
      <table class="table table-striped table-bordered fform-inline">

                               <tr>
                                <th>Number in inventory:</th>
                                </tr>
                                <tr>
                                    <td>
                                    	   {#<input id="id_num_in_stock" name="num_in_stock" type="number" value="{{stockrecord_form.num_in_stock.}}" >#}

                                        {{ stockrecord_form.num_in_stock }}
                                        {{ stockrecord_form.num_in_stock.errors }}
                                    </td>
                                </tr>
</table>


 <!--  <table>
                                <div style="clear:both"></div>
                                <tr>
                                    <th>Number in inventory:</th>
                                </tr>
                                <tr>
                                    <td>
                                        {{ stockrecord_form.num_in_stock }}
                                        {{ stockrecord_form.num_in_stock.errors }}
                                    </td>
                              
                                </tr>
                    </table> -->
                 

    <hr>
<div class="row-fluid">
<div class="span6"> 
    <h3 style="font-weight:bold;font-size:1.24em;margin:0px 0px 5px 0px;margin-bottom:0px"> Shipping and Delivery Options </h3>  
</div> {# span6#}


<div class="span4"> 

     <div id="shipInfoModalLink" style="margin-top:10px;display:none;">
   <a id="shipInfoModalLinkLink" style="color:#ff6666;font-size:1.0em;float:lef;margin-top:10px;margin-left:0.5em" href="#openModalShipping"> About our shipping options</a>
   </div>

   <div> Overall shipping options can be changed from the booth page.</div>

</div> {# span6#}
 </div>{#row#}

<div id="delivery_err"></div>


<br>
    {#{% if payments_enabled %}#}
{% comment %}
        <table>
                  
                    <tr>
                        <th>Check below if this item can be shipped: 

                          &nbsp; &nbsp;  &nbsp; &nbsp;  <a style="color:#ff6666;font-size:1.0em;float:lef;margin-left:0.5em" href="#openModalShipping"> About shipping options</a></th>

                    </tr>
                    <tr>
                        <td>
                            {{ stockrecord_form.is_shippable }}
                            {{ stockrecord_form.is_shippable.errors }}
                        </td>
                  
                    </tr>
        </table>    
        {% endcomment %}
{% comment %}
<div class="btn-group" data-toggle="buttons-radio">
  <button type="button" class="btn ">Left</button> 
  <button type="button" class="btn btn-secondary ">Middle</button>
  <button type="button" class="btn ">Right</button>
</div>
{% endcomment %}

<div id="local_pickup_group">
<legend class="">
{% comment %}
    <input style="margin-right:10px" id="local_delivery_toggle" type="checkbox" name="local_delivery_toggle" >
{% endcomment %}
 {{ stockrecord_form.local_pickup_enabled }}
 {{ stockrecord_form.local_pickup_enabled.errors }}
   <span style="margin-left:0.44em">Check if this item is available for local pickup </span>
   </legend>
 <div id="local_pickup_err"> </div>

</div> {# local pickup group #}




{% comment %}
  <table id="local_pickup_group">
           
                    <tr>
                        <th>Check if this item is available for local pickup:  </th>

                    </tr>
                    <tr>
                        <td>
                            {{ stockrecord_form.local_pickup_enabled }}
                            {{ stockrecord_form.local_pickup_enabled.errors }}
                        </td>
                  
                    </tr>
        </table>    

<div id="local_pickup_err"></div>
{% endcomment %}
   {# {% crispy stockrecord_form %} #}


<br>
<div id="local_delivery_group">
<legend class="">
    <input style="margin-right:10px" id="local_delivery_toggle" type="checkbox" name="local_delivery_toggle" >
   Check if this item is available for local delivery 
   </legend>
 <div id="local_delivery_err"> </div>

</div> {# local delivery group #}


<div id="remote_ship_toggle_group" style="display:none">
 <legend class="">
    <input style="margin-right:10px" id="remote_ship_toggle" type="checkbox" name="remote_ship_toggle" >
   Check if this item can be shipped 
   </legend>

    <div id="remote_ship_err"> </div>
</div>

<div id="remoteShipGroup" style="display:none;margin:0 0 0 2em;padding:1.2em;border:solid 3px;border-color:#99ccff;border-radius:10px">
<div class="btn-group" data-toggle="buttons-radio">
{#  <button type="button" class="btn ">Left</button> #}
   <input id="shipChoice" type='hidden' name="shipChoice" value=''>

  <button id="hm_ship_toggle" type="button" class="btn btnShipChoice ">Calculate shipping cost at time of order</button>
  <button id="self_ship_toggle" type="button" class="btn btnShipChoice">Provide your own shipping for this item</button>
</div>


<br> 

  <div class="shipShowOptions self_ship_info" style="display:none;">
<div id="labelNotPrintedInfo" style="color:#666666;margin-bottom:12px;display:none"> Shipping labels are not provided. The buyer's address will be available from the order summary page.</div>


    <label for="self_ship_price"> Cost of shipping and handling for a single item</label>
	  $<input id="self_ship_price_1" style="ddisplay:none;" type="float"  name="self_ship_cost" 
	{% if self_ship_cost %}
	  value="{{self_ship_cost}}"
	{% endif %}
	>
	 {{ stockrecord_form.self_ship_cost.errors }}
<div id="self_ship_err"></div>



{% comment %}
<br><p>... and for multiple items (optional )</p>
	  <label for="self_ship_price_2"> For 2 items  </label>
	  $<input id="self_ship_price_2" style="ddisplay:none;" type="float"  value="{{self_ship_cost2}}">

	  <label for="self_ship_price_3"> For 3 items  </label>
	  $<input id="self_ship_price_3" style="ddisplay:none;" type="float" value="{{self_ship_cost3}}" >

	  <label for="self_ship_price_5"> For 5 items  </label>
	  $<input id="self_ship_price_5" style="ddisplay:none;" type="float" value="{{self_ship_cost5}}" >
{% endcomment %}


	</div>
{#</fieldset>#}


<div class="hm_ship_info" style="display:none;">


<div class="row-fluid">
  <div class="span8"> 
   <legend class="">
    <input style="margin-right:10px" id="print_label_toggle" type="checkbox" name="print_label_toggle" >
     <div id="print_label_label"> Use printing labels provided by Homemade 1616 </div>
   </legend>
   <div id="print_label_err"> </div>

  </div> {# span8 #}

  <div class="span4"> 

    <div id="labelPrintedInfo" style="color:#777777;margin-bottom:8px;"> 
    	Shipping labels will be available for printing from the order summary page. 
    </div>

  </div> {#span #}

</div>{#row#}

<div id="PM_group" class="row-fluid" style="display:none">

 <div class="span8"> 
   <legend class="">
    <input id="PM_toggle" style="margin-right:10px" type="checkbox" name="PM_toggle">
	   Ship with Priority Mail flat-rate boxes
  

	</legend>
   <div id="PM_toggle_err" style="margin:0 0 1.2em 0"> </div>


  </div> {#span#}

  <div class="span4">
    <a href="http://www.ebay.com/gds/Priority-Mail-Flat-Rate-Shipping-Guide-/10000000001454445/g.html" target="_blank">More info</a>
  </div> {# span #}

</div> {#row#}

<div style="clear:both;"></div>

<div id="PM_info" class="offset1 span11" style="display:none;background-color:#eeeeee;padding-left:5%;padding-top:0.8em;" >

<fieldset id="PMSmall_group">
<legend class="">
  <input id="PMSmall_toggle"  style="margin-right:10px" type="checkbox" name="PMSmall_toggle" >

  Use <a href="https://store.usps.com/store/browse/uspsProductDetailMultiSkuDropDown.jsp?categoryNavIds=catGetMailingShippingSupplies%3asubcatMSS_FlatRate&categoryNav=false&navAction=push&navCount=2&productId=P_SMALL_FRB&categoryId=subcatMSS_FlatRate" target="_blank">small</a> Priority Mail boxes
</legend>
    <div class="PMSmall_chosen"  style="display:none;margin:0 0 1.4em 3em;">
	   <label for="PMSmall_num">Number of items that can fit in a 'small' priority box: </label>

	   <input id="PMSmall_num" name="PMSmall_num" type="number" value="{{PMSmall_num}}" >
	   	                                     {{ stockrecord_form.PMSmall_num.errors }}
	   	                             	  	 <div id="PMSmall_err"> </div>


	</div>

</fieldset>

<fieldset id="PMMedium_group">

<legend class="">
  <input id="PMMedium_toggle" style="margin-right:10px" type="checkbox" name="PMMedium_toggle" >

  Use <a href="https://store.usps.com/store/browse/uspsProductDetailMultiSkuDropDown.jsp?productId=P_O_FRB2&categoryId=subcatMSS_FlatRate" target="_blank">medium</a> Priority Mail boxes
</legend>
    <div class="PMMedium_chosen " style="display:none;margin:0 0 1.4em 3em;">
      <label for="PMMedium_num">Number of items that can fit in a 'medium' priority box: </label>
	  <input id="PMMedium_num"  name="PMMedium_num"  type="number" value="{{PMMedium_num}}" >
	  	                                     {{ stockrecord_form.PMMedium_num.errors }}
	  	                                    <div id="PMMedium_err"> </div>


	</div>

</fieldset>



<fieldset id="PMLarge_group">

<legend class="">
  <input id="PMLarge_toggle" style="margin-right:10px" type="checkbox" name="PMLarge_toggle">

  Use <a href="https://store.usps.com/store/browse/uspsProductDetailMultiSkuDropDown.jsp?productId=P_LARGE_FRB" target="_blank">large</a> Priority Mail boxes
</legend>
    <div class="PMLarge_chosen " style="display:none;margin:0 0 1.4em 3em;">
      <label for="PMLarge_num">Number of items that can fit in large box: </label>

	  <input id="PMLarge_num"  name="PMLarge_num" type="number" value="{{PMLarge_num}}" >
	  	                             {{ stockrecord_form.PMLarge_num.errors }}
	  	                             <div id="PMLarge_err"> </div>
	</div>

</fieldset>



<hr>
</div>{# pm_info #}

<fieldset id="first_class_group">
<legend class="">
  <input id="FirstClass_toggle"  style="margin-right:10px" type="checkbox" name="FirstClass_toggle">

Use USPS mail <span style="color:#888888;font-size:0.8em;margin-left:1em" >(First Class under 13oz, and Parcel Select for shipments over 13oz)</span>
</legend>
</fieldset>

<fieldset id="UPS_group">

<legend class="">
  <input id="UPS_toggle"  style="margin-right:10px" type="checkbox" name="UPS_toggle">

Use UPS
</legend>
 
</fieldset>

<div id="weightInput" class="UPS_chosen FirstClass_chosen" style="ddisplay:none;margin:1.2em 0 1.4em 1.1em;">
 <table>
                  

                    <tr>
                      <th>  <div style="font-size:1.3em;font-weight:normal">Weight of item in ounces. <span style="color:#888888; font-size:0.9em"> &nbsp &nbsp This is needed for rate calculation if items are to be shipped using UPS, First Class, or Parcel Select</span> </div></th> 
                    </tr>
                    <tr>
                        <td>
                            {{ stockrecord_form.weight }}
                            {{ stockrecord_form.weight.errors }}
                            <div id="weight_err"></div>
                        </td>
                  
                    </tr>
        </table>    


   <div class="max_per_box_chosen " style="ddisplay:none;margin:1.2em 0 1.4em 1.1em;">
      <label for="max_per_box">Maximum number of items that can fit in a single package: <span style="color:#888888">(optional) </span></label>

      <input id="max_per_box"  name="max_per_box" type="number" value="{{max_per_box}}" >
                                     <div id="max_per_box_err"> </div>
    </div>

        </div> {# weight input #}

</div> {# hm_ship_info #}
</div> {#remote ship group #}

<script>


  // $(function() {
  //        $('input[type="checkbox"]').on('change', function() {
  //        	alert($(this).closest('fieldset').find(".shipShowOptions"));
  //            $(this).closest('fieldset').find(".shipShowOptions").fadeToggle(40);
  //            //$("#PMSmall_num").fadeToggle();
  //        });
  //    });

{% if s_self_ship %}
$(function() {
	$('#self_ship_toggle').click();
	$('#self_ship_toggle').hide();
	$('#hm_ship_toggle').hide();
 });
{% endif %}

{% if s_calculate_ship %}
$(function() {
	$('#hm_ship_toggle').click();
	$('#self_ship_toggle').hide();
	$('#hm_ship_toggle').hide();
	// $('#remote_ship_toggle').click()


 });
{% endif %}

{% if not s_calculate_ship and not s_self_ship %}
	$('#self_ship_toggle').hide();
	$('#hm_ship_toggle').hide();
{% endif %}

{% if s_printLabel %}
$(function() {
	$('#print_label_toggle').click();
	$('#print_label_toggle').hide();
	$('#print_label_label').text("Using shipping labels provided by Homemade 1616");

 });
{% else %}

$(function() {
	// $('#print_label_toggle').click();
	$('#print_label_toggle').hide();
	$('#print_label_label').text("Shipping labels are not provided.");
	$('#labelPrintedInfo').hide();

 });

{% endif %}


{% if s_calculate_ship or s_self_ship %}
	$('#remote_ship_toggle_group').show()
	// $('#remoteShipGroup').show();
{% else %}
	$('#remote_ship_toggle_group').hide()
	$('#remoteShipGroup').hide()
{% endif %}


{% if s_PMSmall_used or s_PMMedium_used or s_PMLarge_used  %}
 $('#PM_group').show();
{% endif %}

{% if not s_PMSmall_used %} 
$(function() {
	$('#PMSmall_group').hide();
 });
{% endif %}

{% if not s_PMMedium_used %} 
$(function() {
	$('#PMMedium_group').hide();
 });
{% endif %}

{% if not s_PMLarge_used %} 
$(function() {
	$('#PMLarge_group').hide();
 });
{% endif %}

{% if not s_first_used %} 
$(function() {
	$('#first_class_group').hide();
 });
{% endif %}

{% if not s_UPS_used %} 
$(function() {
	$('#UPS_group').hide();

 });
{% endif %}

{% if not s_local_delivery_used %} 
$(function() {
	$('#local_delivery_group').hide();
 });
{% endif %}

{% if not s_local_pickup_used %} 
$(function() {
	if ($('#id_local_pickup_enabled').prop('checked') ) {
		$('#id_local_pickup_enabled').click();
	}	
	$('#local_pickup_group').hide();

 });
{% endif %}



// {% if self_ship %}
// $(function() {
// 	$('#self_ship_toggle').click();
//  });
// {% endif %}

// {% if calculate_ship %}
// $(function() {
// 	$('#hm_ship_toggle').click();
//  });
// {% endif %}

{% if printLabel %}
$(function() {
	$('#print_label_toggle').click();
 });
{% endif %}

{% if PMSmall_used and s_PMSmall_used %} 
$(function() {
	$('#PMSmall_toggle').click();
 });
{% endif %}

{% if PMMedium_used and s_PMMedium_used %} 
$(function() {
	$('#PMMedium_toggle').click();
 });
{% endif %}

{% if PMLarge_used and s_PMLarge_used %} 
$(function() {
	$('#PMLarge_toggle').click();
 });
{% endif %}

{% if calculate_ship %}
	{% if PMSmall_used or PMMedium_used or PMLarge_used  %} 
		$('#PM_toggle').click();
		$('#PM_info').show();
	{% endif %}
{% endif %}

{% if stockrecord_form.is_shippable.value %}

  $('#remote_ship_toggle').click();
  $('#remoteShipGroup').show();
{% else %}

	$('#remoteShipGroup').hide();

{% endif %}




{% if not first_used and not UPS_used %} 
$(function() {
	$('#weightInput').hide();
 });
{% endif %}

{% if first_used %} 
$(function() {
	$('#FirstClass_toggle').click();
 });
{% endif %}

{% if UPS_used %} 
$(function() {
	$('#UPS_toggle').click();
 });
{% endif %}

{% if local_delivery_used and s_local_delivery_used %} 
$(function() {
	$('#local_delivery_toggle').click();
 });
{% endif %}

$('#self_ship_toggle').click(function() { 
    $(".self_ship_info").fadeIn(200);
  	$('#hm_ship_toggle').prop('checked', false); 
    $(".hm_ship_info").hide(200);
    // $("#shipInfoModalLink").hide(100);
    $('#shipChoice').val("self_ship");
    // $('#remote_ship_toggle_group').show()

});

$('#hm_ship_toggle').click(function() { 
    $(".hm_ship_info").fadeIn(200);
	$('#self_ship_toggle').prop('checked', false); 
    $(".self_ship_info").hide(200);
    // $("#shipInfoModalLink").show(100);
    $('#shipChoice').val("calculate_ship");
    // $('#remote_ship_toggle_group').show()


});

$('#PM_toggle').click(function() { 
	if( this.checked){
	    $("#PM_info").fadeIn(200);
	}
	else{
	    $("#PM_info").fadeOut(200);		
	}
});

$('#UPS_toggle').click(function() { 
    // alert($('#FirstClass_toggle').prop('checked'));

     if(this.checked)
     	$('.UPS_chosen').fadeIn(200);
     else
     	if (! $('#FirstClass_toggle').prop('checked'))
     		$('#weightInput').fadeOut(150);
    //  Add items to the cart here
});

$('#FirstClass_toggle').click(function() { 
    // alert(this.checked);
     if(this.checked)
     	$('.FirstClass_chosen').fadeIn(200);
     else
     	if (! $('#UPS_toggle').prop('checked'))
     		$('#weightInput').fadeOut(200);
    //  Add items to the cart here
});

$('#PMSmall_toggle').click(function() { 
    $(".PMSmall_chosen").fadeToggle(200);
    // if ($('#PMMedium_toggle').is(':checked')){
      // $('#PMMedium_toggle').prop('checked', false); 
      // $(".PMMedium_chosen").toggle();
    // } 
});

$('#PMMedium_toggle').click(function() { 
    $(".PMMedium_chosen").fadeToggle(200);
    // if ($('#PMSmall_toggle').is(':checked')){
      // $('#PMSmall_toggle').prop('checked', false); 
      // $(".PMSmall_chosen").toggle();
    // }
});


$('#PMLarge_toggle').click(function() { 
    $(".PMLarge_chosen").fadeToggle(200);
});


$('#remote_ship_toggle').click(function() { 
	if( this.checked){
	    $("#remoteShipGroup").fadeIn(200);
	}
	else{
	    $("#remoteShipGroup").fadeOut(200);		
	}
});

$('#demo12').click(function() { 
    alert('2nd click event');
    //  Do something else
});

function errWrap(text) {
	return '<ul class="errorlist">' + text +' </ul>';
}


function errMsg(id, msg) {
	return $('#'+ id).html(errWrap(msg));
}

function errClean(id) {
	return $('#'+ id).html('');
}

function boxErr(idStub) {

    if ($('#'+idStub+'_toggle').prop('checked')   && ! $('#'+idStub+'_num').val()  ){
  	    errMsg(idStub + '_err', "Please enter the number of items per box.");
  	    return 1;
	  }
	  else{errClean(idStub+'_err');}
	  return 0;


}

function weightErr() {

      if ( ($('#FirstClass_toggle').prop('checked') || $('#UPS_toggle').prop('checked') )   && ! $('#id_weight').val()  ){
  	    errMsg('weight_err', "Please enter a weight if shipping by UPS, USPS First Class, or USPS Parcel Select.");
  	    return 1;
	  }
	  else{errClean('weight_err');}
	  return 0;
}

function hmItemValidate() {

	var errCount = 0;
	// should be a name
	//if ( ! $('#shipChoice').val() {
	//	errMsg('id_title_err',"Please enter a name for the item.");

	//}
	//else {errClean('id_title_err')}



	// pick some sort of delivery
	if ( ! ( $('#shipChoice').val() && $('#remote_ship_toggle').prop('checked') ) && ! ( $('#id_local_pickup_enabled').prop('checked') || $('#local_delivery_toggle').prop('checked') ) ){

		errMsg('delivery_err',"Please choose one or more methods of shipping, delivery, or pickup.");
		errCount  += 1;
	}
	else {errClean('delivery_err');}


	if ( $('#remote_ship_toggle').prop('checked')  ){

		// self ship OK?
		if ($('#shipChoice').val() == "self_ship" ){
			if ( ! $('#self_ship_price_1').val()){
			 errMsg('self_ship_err',"Please enter the shipping cost.");
			errCount  += 1;
			}
			else{errClean('self_ship_err');}

		}

	    if ($('#shipChoice').val() == "calculate_ship"){


	       if ( ! ($('#FirstClass_toggle').prop('checked') || $('#UPS_toggle').prop('checked') || $('#PM_toggle').prop('checked')   ) ){

	      		errMsg('remote_ship_err',"Please choose one or more methods of shipping below, or uncheck the box if shipping will not be available");
	      		errCount += 1

	       }
	       else{errClean('remote_ship_err');}

	       

	     if ( $('#PM_toggle').prop('checked') ){

	     	if ( ! ($('#PMSmall_toggle').prop('checked') || $('#PMMedium_toggle').prop('checked') || $('#PMLarge_toggle').prop('checked') ) ) {
				errMsg('PM_toggle_err',"Please choose one or more box sizes, or uncheck this option if Priority Mail shipping will not be available");
	      		errCount += 1

	     	}
	     	else{errClean('PM_toggle_err');}

		  errCount  += boxErr("PMSmall");
		  errCount += boxErr("PMMedium");
		  errCount += boxErr("PMLarge");
		 }
		 
	     	else{errClean('PM_toggle_err');}


		  errCount += weightErr();

	}

} {# if remote_ship_toggle #}
else{errClean('remote_ship_err');}

	if ( ! errCount ){
		$("#prodForm").submit();
	}

}

$(document).ready(function() {

$('#submitTheWholeDarnForm').click(function() { 
	//alert("YEAH");
    hmItemValidate();

    //$("#prodForm").submit();
});
});


</script



{% comment %}
    {% else %}

    <b style="font-size=1.1em">Please sign up to accept electronic payments in order to ship.</b>
<br><br>
<a href="{% url 'stripeLogin' %}" > <img src="{% static 'icons/blue.png' %}"></a>
<br><br>
    <a style="color:#ff6666;font-size:1.0em;float:lef;margin-left:0.5em" href="#openModalShipping"> About shipping options</a></th>
<br><br><br><br>
    {% endif %}
{% endcomment %}

                </div>

                {% comment %}
                <div class="tab-pane" id="product_recommended">
                    <table class="table table-striped table-bordered fform-inline">
                        <caption>{% trans "Recommended products" %}</caption>

                        {{ recommended_formset.management_form }}
                        {{ recommended_formset.non_form_errors }}
                        {% for recommended_form in recommended_formset %}

                        <tr>
                            <td>
                                {% include "partials/form_fields_inline.html" with form=recommended_form %}
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
               {% endcomment %}

 </div>
      
  </div>
 </div>
           
   
{% comment %}
    <div class="fixed-actions-group" style="width:68%;left:auto;">
        <div class="form-actions"  style="background:none repeat scroll 0% 0% rgb(235, 235, 235);mmmargin-left:0px;llleft:0px;" >
        {% endcomment %}

            <div class="pull-left" style="margin-left:5em;font-size:1.2em;margin-top:1.4em">


                {% comment %}
                {% trans "or" %}
                <button class="btn btn-secondary btn-large" name="action" type="submit" value="continue">{% trans "Save and continue editing" %}</button>
                {% endcomment %}
                <button id="submitTheWholeDarnForm" style="margin-left:1.2em;font-size:1.2em" class="btn btn-primary btn-large" name="actio" type="button" value="save">{% trans "Save" %}</button>




                <a style="margin-right:1.2em;margin-left:1.2em;" href="/catalogue/?booth={{product.stockrecord.partner.id}}">{% trans "Cancel" %}</a>

            </div>
{% comment %}            
            {% if product %}
            <a class="btn btn-success btn-large" href="{{ product.get_absolute_url }}">{% trans "View on site" %}</a>
            {% endif %}
            
        </div>
    </div>

{% endcomment %}


</form>



    <div id="openModalShipping" class="modalShipInfo">
      <div> 
        <a href="#close" title="Close" class="close">X</a>
        <h2><b>Shipping Information</b></h2>

     <p> <b>Using flat-rate Priority Mail </b></p>

       <p>
        An easy option for domestic shipping is to use flat-rate Priority Mail boxes available through the postal service. Simply pick which boxes you will be using, and enter the number of items that can fit in the type of box(es) that you are shipping in. We'll then calculate how many boxes are needed to fulfill each order. A shipping label with the buyer's address will be available for printing from the order summary page.
</p>


        <p> <b>Calculate shipping by weight </b></p>
        <p> Currently at HM1616 we can accurately calculate shipping costs for UPS, USPS First Class, and USPS Parcel Select based on the weight of an item, assuming moderately sized items. If your item is very large (more than  8"x8"x8") or otherwise requires special shipping, the shipping calculator would not be accurate, so please use the fixed price shipping option. 
       </p>

                  <p> <b>Custom shipping</b></p>
                  <p> We realize that it may be easier for you to deal with shipping yourself. If that's the case, just select the option to provide your own shipping.</p>




               <p> <b>Going local</b></p>

<p>
        Of course, local pickup can be an option if you like, and we hope to offer local delivery options as they become available. 
         If you know of a suitable delivery service in your area, let us know at support@homemade1616.com and we'll try to incorporate it as an option in the future. Thanks!
        </p>


          <article>
          <label>
            <span></span>
          </label>
          </article>

          
          <a class="btn orgButton" style="margin-top:14px;" href="#close"> Close window</a>

    </div> 
  </div>



{% endblock dashboard_content %}
