



sites/homemade/logs/*
sites/homemade/apps/gateway/*
sites/homemade/apps/user/*
sites/homemade/apps/home/*
sites/homemade/apps/homemade/public/*
sites/homemade/apps/homemade/mongostuff/*
sites/homemade/apps/homemade/static/uploads/*
sites/homemade/apps/homemade/static/icons/*
sites/homemade/apps/homemade/static/fonts/*
sites/homemade/apps/homemade/static/js/jquery*
sites/homemade/apps/homemade/static/fnd/*


sites/homemade/public/*
sites/homemade/old_public/*
sites/homemade/old_settings.py
sites/homemade/static/oscar/css/responsive.43eece77b264.css
sites/homemade/static/oscar/css/styles.bd6a1e184bb8.css
sites/homemade/static_bk/*




# Packaging
*.pyc
*.egg-info
/dist/
/build/

# Vagrant
.vagrant

# Temporary/OS files
*.swp
*.swo
*.*~
.~lock.*
*.DS_Store

# IDE files
.project
.pydevproject
.settings
.idea

# Docs
/docs/build/*
*.pdf
TODO

# Test files
.coverage
coverage.xml
violations.txt
nosetests.xml
/htmlcov/*
/.tox/*

# Example sites
settings_local.py
/sites/sandbox/*.sqlite
/sites/sandbox/assets/
/sites/sandbox/public/
/sites/sandbox/whoosh_index/
/sites/sandbox/logs/
/sites/demo/*.sqlite
/sites/demo/assets/
/sites/demo/public/
/sites/demo/whoosh_index/
/sites/demo/logs/
