{% extends "layout.html" %}
{% load url from future %}
{% load i18n %}
{% load staticfiles %}

{% block title %}
    {% trans "Set the location and time for pickup" %} | {{ block.super }}
{% endblock %}


{% block extrastyles %}
  {{ block.super }}
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>

<link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.9.1/themes/pepper-grinder/jquery-ui.css" />


<script type="text/javascript" src="{% static 'oscar/js/timepicker/jquery-ui-timepicker-addon.js' %}"></script>


<style>

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; z-index:10;}
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 45%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 45% 10px 10px; }
.ui-datepicker {z-index:10; }
</style>


{% endblock %}




{% block extrahead %}

<style>

 #pac-input {
        background-color: #fff;
        padding: 6px 11px 6px 13px;
        width: 400px;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        text-overflow: ellipsis;
      }

      #pac-input:focus {
        border-color: #4d90fe;
        margin-left: -1px;
        padding-left: 14px;  /* Regular padding-left + 1. */
        width: 401px;
      }

      .pac-container {
        font-family: Roboto;
      }


   #locationField, #controls {
        position: relative;
        width: 480px;
      }
      #autocomplete {
        ppposition: absolute;
        top: 0px;
        left: 0px;
        width: 99%;
      }
      .label {
        text-align: right;
        font-weight: bold;
        width: 80%;
        margin:1em;
        color: #303030;
        background-color: #f0f0ff;


      }
      #address {
        border: 1px solid #000090;
        background-color: #f0f0ff;
        width: 99%;
        padding-right: 2px;
      }
      #address td {
        font-size: 0.9em;
      }
      .field {
        wwidth: 99%;
        padding:5px;
        margin:0px;
      }
      .slimField {
        width: 40%;
      }
      .wideField {
        width: 80%;
      }
      #locationField {

      }


</style>
 <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key={{mapsKey}}&sensor=false&libraries=places">
    </script>

<script type="text/javascript">
  




function initialize() {

  var markers = [];
  var mapOptions = {
          center: new google.maps.LatLng(34., -118.244),
          zoom: 8,
          streetViewControl: false,
          mapTypeControl: false,
        };
  var map = new google.maps.Map(document.getElementById('map-canvas'), {
    mapTypeId: google.maps.MapTypeId.ROADMAP
  });

  var defaultBounds = new google.maps.LatLngBounds(
      new google.maps.LatLng(33.902, -118.7159),
      new google.maps.LatLng(34.3974, -118.2631));
  map.fitBounds(defaultBounds);

  // Create the search box and link it to the UI element.
  var input = /** @type {HTMLInputElement} */(
      document.getElementById('pac-input'));
  map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

  var searchBox = new google.maps.places.SearchBox(
    /** @type {HTMLInputElement} */(input));

  // Listen for the event fired when the user selects an item from the
  // pick list. Retrieve the matching places for that item.
  google.maps.event.addListener(searchBox, 'places_changed', function() {
    var places = searchBox.getPlaces();

    for (var i = 0, marker; marker = markers[i]; i++) {
      marker.setMap(null);
    }

    // For each place, get the icon, place name, and location.
    markers = [];
    var bounds = new google.maps.LatLngBounds();
    for (var i = 0, place; place = places[i]; i++) {
      var image = {
        url: place.icon,
        size: new google.maps.Size(71, 71),
        origin: new google.maps.Point(0, 0),
        anchor: new google.maps.Point(17, 34),
        scaledSize: new google.maps.Size(25, 25)
      };

      // Create a marker for each place.
      var marker = new google.maps.Marker({
        map: map,
        icon: image,
        title: place.name,
        position: place.geometry.location
      });

      markers.push(marker);

      bounds.extend(place.geometry.location);
    }

    map.fitBounds(bounds);
  });

  // Bias the SearchBox results towards places that are within the bounds of the
  // current map's viewport.
  google.maps.event.addListener(map, 'bounds_changed', function() {
    var bounds = map.getBounds();
    searchBox.setBounds(bounds);
  });
}

google.maps.event.addDomListener(window, 'load', initialize);


</script>


<script type="text/javascript">
  
var placeSearch, autocomplete;
var componentForm = {
  // street_number: 'short_name',
  // route: 'long_name',
  // locality: 'long_name',
  // administrative_area_level_1: 'short_name',
  // //country: 'long_name',
  // postal_code: 'short_name'
  street_number: 'short_name',
  route: 'long_name',
  locality: 'long_name',
  administrative_area_level_1: 'short_name',
  //country: 'long_name',
  postal_code: 'short_name'
};

window.onload = initialize
  

function initialize() {
  // Create the autocomplete object, restricting the search
  // to geographical location types.
  autocomplete = new google.maps.places.Autocomplete(
      /** @type {HTMLInputElement} */(document.getElementById('autocomplete')),
      { {#types: ['geocode']#} });
  // When the user selects an address from the dropdown,
  // populate the address fields in the form.
  google.maps.event.addListener(autocomplete, 'place_changed', function() {
    fillInAddress();
  });
}

// The START and END in square brackets define a snippet for our documentation:
// [START region_fillform]
function fillInAddress() {
  // Get the place details from the autocomplete object.
  var place = autocomplete.getPlace();

  for (var component in componentForm) {
    document.getElementById(component).value = '';
    document.getElementById(component).disabled = false;
  }

  if (place.name){
    document.getElementById("id_location_name").value = place.name;
  }

  // Get each component of the address from the place details
  // and fill the corresponding field on the form.
  for (var i = 0; i < place.address_components.length; i++) {
    var addressType = place.address_components[i].types[0];
    console.log(place.address_components[i]);
    console.log(componentForm[addressType]);
    if (componentForm[addressType]) {
      var val = place.address_components[i][componentForm[addressType]];
      document.getElementById(addressType).value = val;
      if (addressType == "street_number"){
        document.getElementById("combinedAddress").value = val;
        document.getElementById("id_line1").value = val;
      }
      if (addressType == "route"){
        $("#combinedAddress").val($("#combinedAddress").val() + " " + val);
        $("#id_line1").val($("#id_line1").val() + " " + val);

      }
      if (addressType == "postal_code"){
        $("#id_postcode").val(val);
      }
      if (addressType == "locality"){
        $("#id_line4").val(val);
      }
      if (addressType == "administrative_area_level_1"){
        $("#id_state").val(val);
      }
    }
  }
}
// [END region_fillform]

// [START region_geolocation]
// Bias the autocomplete object to the user's geographical location,
// as supplied by the browser's 'navigator.geolocation' object.
function geolocate() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      var geolocation = new google.maps.LatLng(
          position.coords.latitude, position.coords.longitude);
      autocomplete.setBounds(new google.maps.LatLngBounds(geolocation,
          geolocation));
    });
  }
}
// [END region_geolocation]



</script>

{% endblock extrahead %}

  {% block content %}

<div id="map-canvas" style="width:100%;height:300px;"> </div>


 <form action="{% url 'customer:store-pickup-location' %}" method="post">
<input id="pac-input" class="controls" type="text" placeholder="Search Box" autocomplete="off" style="z-index: 0; position: absolute; left: 88px; top: 0px;">



<div class="row-fluid">
<div class="span6">
{% comment %}
<div id="locationField">
      <input id="autocomplete" placeholder="Search for an address"
             onFocus="geolocate()" type="text"></input>
      <img src="{% static 'icons/powered-by-google-on-white.png' %}">

    </div>
{% endcomment %}
    <table id="address">
      <tr>
        <td class="label">Street address</td>
        <td class="slimField"><input class="field" id="street_number"
              disabled="true"></input></td>
        <td class="wideField" colspan="2"><input class="field" id="route"
              disabled="true"></input></td>
      </tr>
      <tr>
        <td class="label">City</td>
        <td class="wideField" colspan="3"><input class="field" id="locality"
              disabled="true"></input></td>
      </tr>
      <tr>
        <td class="label">State</td>
        <td class="slimField"><input class="field"
              id="administrative_area_level_1" disabled="true"></input></td>

        <td class="label">Zip code</td>
        <td class="wideField"><input class="field" id="postal_code"
              disabled="true"></input></td>
      </tr>
     <!--  <tr>
        <td class="label">Country</td>
        <td class="wideField" colspan="3"><input class="field"
              id="country" disabled="true"></input></td>
      </tr> -->
    </table>
</div>
</form>
 <div style="clear:both;"></div>

<div class="clearfix span3">
  <button id='store-ship-new-submit' type="submit" style="position:relative;margin:10 0 10 0" class="btn btn-primary btn-full pickup-location">{% trans "Save this location" %}</button>
</div>
</div>

<input type="text" id="combinedAddress"/>


 <div style="clear:both;"></div>

<div class="row-fluid"> 

 <div class="offset5 span4 pull-right" style="margin-bottom:12px;">
              <a id="id_skipSellerAddress" class="btn orgButton" style="font-size:1.1em" href="{% url 'catalogue:index' %}?booth={{request.user.partner.id}}">{% trans "Cancel" %}</a>


              {% if not partnerAddress%}
               
              {% endif %}
</div>
</div>

{% block shipping_address %}




<div class="row-fluid"> 

<div class="span7"> 


        <h2>{% trans "Where" %}</h2>
 

    {% if request.user.is_authenticated %}


        {% if addresses %}
            
            <h3>{% trans "An address from your address book?" %}</h3>
            <div class="choose-block">
                <ul class="row-fluid">
                    {% for address in addresses %}
					<li class="span4">
						<div class="well well-info {% if address.is_default_for_store %}default-address{% endif %}">
							<address>{% for field in address.active_address_fields %}
							{{ field }}<br/>
							{% endfor %}</address>
							<form action="{% url 'customer:store-pickup-location' %}?basket_id={{basket.id}}" method="post">
								{% csrf_token %}
								<input type="hidden" name="action" value="ship_to" />
								<input type="hidden" name="address_id" value="{{ address.id }}" />
								

								<a class="btn btn-small btn-info" href="{% url 'checkout:user-address-update' address.id %}?basket_id={{basket.id}}">{% trans "Edit" %}</a>
								<a href="{% url 'checkout:user-address-delete' address.id %}?basket_id={{basket.id}}" class="btn btn-small btn-danger">{% trans "Delete" %}</a>

                                                                <div style="clear:both"></div>


                        <button type="submit" style="position:relative;margin:10 0 10 0" class="btn btn-primary btn-full ship-address js-disable-on-click" data-loading-text="{% trans 'Setting shipping address, please wait...' %}">{% trans "Use this address" %}</button>

							</form>
						</div>
					</li>
                    {% if forloop.counter|divisibleby:3 %}
                        </ul>
                        {% if not forloop.last %}<ul class="row-fluid">{% endif %}
                    {% endif %}
                    {% endfor %}
                </ul>
                
            </div>
            <h3>{% trans "Or a new location?" %}</h3>
        {% endif %}

    {% endif %}


   </div> {# span7 #}

    <div class="span5"> 


        <span style="font-size:1.4em;font-weight:bold">  When  </span>&nbsp;&nbsp;&nbsp;  (optional) </span>
        <br>
<input type="text" id="datepicker" /> to <input type="text" id="datepicker_endtime" />


<input type="text" id="d1" /> to <input type="text" id="d2" />


 <script>

   // $(function() {

   //   $("#datepicker").datetimepicker(
   //      {
   //          stepMinute: 5,

   //      onClose: function(dateText, inst) {
   //      if (startDateTextBox.val() != '') {
   //          var testStartDate = startDateTextBox.datetimepicker('getDate');
   //          var testEndDate = endDateTextBox.datetimepicker('getDate');
   //          if (testStartDate > testEndDate)
   //              startDateTextBox.datetimepicker('setDate', testEndDate);
   //      }
   //      else {
   //          startDateTextBox.val(dateText);
   //      }

   //    }
   //      );

   //   $("#datepicker_endtime").timepicker(
   //      {
   //          stepMinute: 5,
   //  }
   //      );

var startDateTextBox = $('#d1');
var endDateTextBox = $('#d2');

startDateTextBox.datetimepicker({ 
    timeFormat: 'HH:mm',
    onClose: function(dateText, inst) {
        if (endDateTextBox.val() != '') {
            var testStartTime = startDateTextBox.datetimepicker('getHours');
            var testEndTime = endDateTextBox.datetimepicker('getHours');
            if (testStartTime > testEndTime)
                endDateTextBox.datetimepicker('setHours', testStartTime);
        }
        else {
            endDateTextBox.val(dateText);
        }
    },
    onSelect: function (selectedDateTime){
        endDateTextBox.datetimepicker('option', 'minHour', startDateTextBox.datetimepicker('getHours') );
    }
});
endDateTextBox.timepicker({ 
    timeFormat: 'HH:mm ',
    onClose: function(dateText, inst) {
        if (startDateTextBox.val() != '') {
            var testStartTime = startDateTextBox.datetimepicker('getHours');
            var testEndTime = endDateTextBox.datetimepicker('getHours');
            if (testStartTime > testEndTime)
                startDateTextBox.datetimepicker('setHours', testEndTime);
        }
        else {
            startDateTextBox.val(dateText);
        }
    },
    onSelect: function (selectedDateTime){
        startDateTextBox.datetimepicker('option', 'maxHour', endDateTextBox.datetimepicker('getHours') );
    }
});

    $(function() {

     $('.ui-datepicker-div').css('z-index', 99);

});
 </script>

</div> {# span5 #}
</div>  {#row#}



 <div style="clear:both;"></div>

    <div id="locationField">

      <input id="autocomplete" placeholder="Search for an address"
             onFocus="geolocate()" type="text"></input>

      <img src="{% static 'icons/powered-by-google-on-white.png' %}">

    </div>
    <form action="{% url 'customer:store-pickup-location' %}" method="post" class="form-horizontal"  data-behaviours="lock">
        <div class="well well-info">
            {% csrf_token %}
            {% include "partials/form_fields.html" with form=form %}
        </div>
        <div class="form-actions">

            <button id='store-ship-new-submit' type="submit" style="position:relative;margin:10 0 10 0" class="btn btn-primary btn-full ship-address">{% trans "Save the new address" %}</button>

            {#<button type="submit" class="btn btn-large btn-primary">{% trans "Submit" %}</button>#}
      
        </div>
    </form>


{% endblock shipping_address %}

{% endblock %}
