{% extends "layout.html" %}
{% load url from future %}
{% load i18n %}
{% load staticfiles %}


{% block title %}
    {% trans "Address for origin of deliveries (where your items are shipped from" %} | {{ block.super }}
{% endblock %}

{% block extrahead %}

{{ block.super }}


<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key={{mapsKey}}&sensor=false&libraries=places">
    </script>


<style>

 #pac-input {
        background-color: #fff;
        padding: 6px 11px 6px 13px;
        max-width: 400px;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        text-overflow: ellipsis;
      }

      #pac-input:focus {
        border-color: #4d90fe;
        margin-left: -1px;
        padding-left: 14px;  /* Regular padding-left + 1. */
        max-width: 401px;
      }

      .pac-container {
        font-family: Roboto;
      }


   #locationField, #controls {
       pposition: relative;
        max-width: 480px;
      }
      #autocomplete {
        ppposition: absolute;
        top: 0px;
        left: 0px;
        width: 99%;
      }
      .label {
        text-align: right;
        font-weight: bold;
        width: 80%;
        margin:1em;
        color: #303030;
        background-color: #f0f0ff;


      }
      #address {
        border: 1px solid #000090;
        background-color: #f0f0ff;
        width: 99%;
        padding-right: 2px;
      }
      #address td {
        font-size: 0.9em;
      }
      .field {
        wwidth: 99%;
        padding:5px;
        margin:0px;
      }
      .slimField {
        width: 40%;
      }
      .wideField {
        width: 80%;
      }
      #locationField {

      }

</style>

<script type="text/javascript">
  
var placeSearch, autocomplete;
var componentForm = {
  // street_number: 'short_name',
  // route: 'long_name',
  // locality: 'long_name',
  // administrative_area_level_1: 'short_name',
  // //country: 'long_name',
  // postal_code: 'short_name'
  street_number: 'short_name',
  route: 'long_name',
  locality: 'long_name',
  administrative_area_level_1: 'short_name',
  //country: 'long_name',
  postal_code: 'short_name'
};

window.onload = initialize
  

function initialize() {
  // Create the autocomplete object, restricting the search
  // to geographical location types.
  autocomplete = new google.maps.places.Autocomplete(
      /** @type {HTMLInputElement} */(document.getElementById('autocomplete')),
      { {#types: ['geocode']#} });
  // When the user selects an address from the dropdown,
  // populate the address fields in the form.
  google.maps.event.addListener(autocomplete, 'place_changed', function() {
    fillInAddress();
  });
}

// The START and END in square brackets define a snippet for our documentation:
// [START region_fillform]
function fillInAddress() {
  // Get the place details from the autocomplete object.
  var place = autocomplete.getPlace();

  // reset form
  //for (var component in componentForm) {
  //  document.getElementById(component).value = '';
  //  document.getElementById(component).disabled = false;
 // }

 

 
  // Get each component of the address from the place details
  // and fill the corresponding field on the form.
  for (var i = 0; i < place.address_components.length; i++) {
    var addressType = place.address_components[i].types[0];
    console.log(place.address_components[i]);
    console.log(componentForm[addressType]);
    if (componentForm[addressType]) {
      var val = place.address_components[i][componentForm[addressType]];
      //document.getElementById(addressType).value = val;
      if (addressType == "street_number"){
        //document.getElementById("combinedAddress").value = val;
        document.getElementById("id_line1").value = val;
      }
      if (addressType == "route"){
        //$("#combinedAddress").val($("#combinedAddress").val() + " " + val);
        $("#id_line1").val($("#id_line1").val() + " " + val);

   
       }

      }
      if (addressType == "postal_code"){
        $("#id_postcode").val(val);
      }
      if (addressType == "locality"){
        $("#id_line4").val(val);
      }
      if (addressType == "administrative_area_level_1"){
        $("#id_state").val(val);
      }
    }
    var streetAdd = $("#id_line1").val();      
   // if (place.name && place.name != streetAdd ){
   //     document.getElementById("id_location_name").value = place.name;
   // }
   
    if (! streetAdd){
      document.getElementById("id_latitude").value = place.geometry.location.lat();
      document.getElementById("id_longitude").value = place.geometry.location.lng();
    }
  
}
// [END region_fillform]

// [START region_geolocation]
// Bias the autocomplete object to the user's geographical location,
// as supplied by the browser's 'navigator.geolocation' object.
function geolocate() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      var geolocation = new google.maps.LatLng(
          position.coords.latitude, position.coords.longitude);
      autocomplete.setBounds(new google.maps.LatLngBounds(geolocation,
          geolocation));
    });
  }
}
// [END region_geolocation]

</script>

{% endblock %}



{% block content %}


{% block shipping_address %}


    <div class="ssub-header">
        <h2>{% trans "Where would you like your items to be shipped from?" %}</h2>


           <div class="span4 pull-right" style="margin-bottom:12px;">
              <a id="id_skipSellerAddress" class="btn orgButton" style="font-size:1.1em" href="{% url 'catalogue:index' %}?booth={{request.user.partner.id}}">{% trans "Click here to skip this step and continue to your booth" %}</a>


              {% comment %}
              <input style="margin:0 0 1em 0" class="boothButton" type="button" value="Skip, continue to booth" onclick=location.href="/catalogue/?booth={{request.user.partner.id}}">
            <div style="clear:both;"></div>
{% endcomment %}
            <div style="clear:both;margin-top:8px;"></div>

            {% if not partnerAddress%}
              Note that until you have set up a valid address to ship from, your items will only be available for local pickup. 
            {% endif %}
            </div>


    </div>
            <div style="clear:both;"></div>

    {% if request.user.is_authenticated %}


        {% if addresses %}
            
            <h3>{% trans "An address from your address book?" %}</h3>
            <div class="choose-block">
                <ul class="row-fluid">
                    {% for address in addresses %}
					<li class="span4">
						<div class="well well-info {% if address.is_default_for_store %}default-address{% endif %}">
							<address>{% for field in address.active_address_fields %}
							{{ field }}<br/>
							{% endfor %}</address>
							<form action="{% url 'customer:store-shipping-address' %}?basket_id={{basket.id}}" method="post">
								{% csrf_token %}
								<input type="hidden" name="action" value="ship_to" />
								<input type="hidden" name="address_id" value="{{ address.id }}" />
								
                                <a class="btn btn-primary" href="{% url 'customer:address-detail' address.id %}">{% trans 'Edit' %}</a>
                                <a class="btn btn-danger" href="{% url 'customer:address-delete' address.id %}">{% trans 'Delete' %}</a>
                                                                <div style="clear:both"></div>


                        <button type="submit" style="position:relative;margin:10 0 10 0" class="btn btn-primary btn-full ship-address js-disable-on-click" data-loading-text="{% trans 'Setting shipping address, please wait...' %}">{% trans "Use this address" %}</button>

							</form>
						</div>
					</li>
                    {% if forloop.counter|divisibleby:3 %}
                        </ul>
                        {% if not forloop.last %}<ul class="row-fluid">{% endif %}
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <h3>{% trans "Or a new address?" %}</h3>
        {% endif %}
    </div>
    {% endif %}


  <div id="locationField">

      <input id="autocomplete" placeholder="Search for an address"
             onFocus="geolocate()" type="text"></input>

      <img src="{% static 'icons/powered-by-google-on-white.png' %}">

    </div>

    <form action="{% url 'customer:store-shipping-address' %}" method="post" class="form-horizontal"  data-behaviours="lock">
        <div class="well well-info">
            {% csrf_token %}
            {% include "partials/form_fields.html" with form=form %}
        </div>
        <div class="form-actions">

            <button id='store-ship-new-submit' type="submit" style="position:relative;margin:10 0 10 0" class="btn btn-primary btn-full ship-address">{% trans "Save the new address" %}</button>

            {#<button type="submit" class="btn btn-large btn-primary">{% trans "Continue" %}</button>#}
      
        </div>
    </form>


{% endblock shipping_address %}

{% endblock %}
