{% extends "base.html" %}
{#{% load compress %}#}
{% load promotion_tags %}
{% block includes%}{%endblock%}

{% block layout %}
    {# Top-horizontal bar with account, notifictions, dashboard links #}

    {% block top-nav%}
    {% include "partials/nav_accounts.html" %}
    {% endblock %}

    {% block header-stuff %}
    {# Site logo/title, mini-basket, browse dropdown and searchbox #}
    <header class="header container-fluid">
        <div class="page_inne">
            <div class="row-fluid">
             

                                 <div class="span12 brandLogoLargeScreen">

     <div id="browseBannerWide" style="width: 102%;height:6em;overflow:hidden; float:left;margin-left:-1%;z-index:1;position:relative">
    <img src="{% block bannerFile %}{{STATIC_URL}}icons/BannerImage-2.jpg{% endblock %}" class="store_banner" style="width:100%;">
{% comment %}
    <a href="https://www.facebook.com/Homemade1616" class="socialLogoLinkWhite" style="float:right;position:relative;top:-102px;right:109px;color: #336699;font-weight: normal;text-decoration: underline; text-shadow: 0px 3px 14px rgba(0,0,0,0.98);z-index:5;">

      <img class="socialLogoWhite" style="width:50px;" src="{{ STATIC_URL }}icons/facebook-logo-square-webtreatsetc_72px_white.png"> 

    </a>
    {% endcomment %}
  </div>
</div>

    <div class="row-fluid">
                 <div class="span4 brandLogoLargeScreen">
                    {% include "partials/brand.html" %}
                </div>

              

                  {% block searchBar %}
                  
                   

                {% endblock %}

                {% comment %}
                    {# Mini-basket wrapped in a block so some templates can now display it #}
                    {% block mini_basket %}{% include "partials/mini_basket.html" %}{% endblock %}
                {% endcomment %}    



</div> {# row-fluid #}

            </div>
        </div>
        {% block navigation %}
        {%comment%}    {% include "partials/nav_primary.html" %} {%endcomment%}
        {% endblock %}
    </header>

{% endblock %} {# header-stuff #}

    {# Main content of page - other layout templates may override this block #}
    {% block content_wrapper %}
    <div class="container-fluid page">
        <div class="page_inner">
            {% block breadcrumbs %}{% endblock %}
            {% block header %}
            <div class="page-header action">
                <h1>{% block headertext %}{% endblock %}</h1>
            </div>
            {% endblock %}
            {% include "partials/alert_messages.html" %}
            {% block subnavigation %}{% endblock %}
            <div class="content">
                {% block subheader %}{% endblock subheader %}

                {# Render promotions #}
                <div id="promotions">
                    {% for promotion in promotions_page %}
                        {% render_promotion promotion %}
                    {% endfor %}
                </div>

                {# Div exists for AJAX updates to entire content section #}
                <div id="content_inner">{% block content %}{% block body %}{%endblock%}{% endblock %}</div>
            </div>
        </div>
    </div>
    {% endblock %}

    {% include "partials/footer.html" %}
{% endblock %}

{% block extrascripts %}
    {% include "partials/extrascripts.html" %}
    {{ block.super }}
{% endblock %}
