{% extends "layout.html" %}
{% load promotion_tags %}
{% load macros %}
{% load staticfiles %}



{% block content_wrapper %}
    <div class="container-fluid page">
        <div class="page_inner">
            {% block breadcrumbs %}{% endblock %}

            <div class="row-fluid">

                <aside class="span3 brandLogoLargeScreen" style="">
                    <div id="promotions_left">
                        {% for promotion in promotions_left %}
                        {% render_promotion promotion %}
                        {% endfor %}
                    </div>
                    {% block column_left %} 
                    {% endblock %}
                </aside>

                <div class="span9">
                    {% block header %}
                    {% comment %}
                    <div class="page-header action">
                        <h1>{% block headertext %}{% endblock %}</h1>
                    </div>
                    {% endcomment %}
                    {% endblock %}

                    {% include "partials/alert_messages.html" %}

                    <div id="promotions">
                        {% for promotion in promotions_page %}
                        {% render_promotion promotion %}
                        {% endfor %}
                    </div>

                    {% block content %}{% endblock %}


                </div>

            

            </div><!-- /row-fluid -->

        </div><!-- /page_inner -->
    </div><!-- /container-fluid -->

{% macro giveBackMacro(title='') %}

<div class="giveBackBox">

  <img src="{% static 'icons/Icon-Heart.png' %}" class="giveBackHeart"  >
  <div class="helpGiveText"> 
  <a style="color:#ff6666;font-size:1.0em;float:left;" href="#openModalGive">HELP US GIVE BACK</a>
 </div>
     <div id="openModalGive" class="modalGiveBackDialog">
    <div> 
        <a href="#close" title="Close" class="close">X</a>
        <h2>Giving Back To The Local Food Community</h2>
       <p> Every time you buy something on homemade1616.com, we donate 10% of our proceeds to an amazing California-based food-related nonprofit organization, and you get to choose which organization receives that donation upon checkout! </p> <p> Sellers pay nothing extra. You pay nothing extra. We think giving back is the right thing to do.
    </p>
    <form action="#close" method="" >
      <article>
      <label>
      <span></span>
      </label>
      </article>
      <input type="hidden" name="return" value="True" /> 
      <div class=deleteButto><input type=submit value="Close window"></div>
      
      

     </form>
        
    </div> 
       </div> 
     


    <div style="clear:both;"  > </div>
    <ul>
      <li> Browse the delectable goods  </li>
      <li> Add items to your basket </li>
      <li> Make a payment  </li>
      <li> Select from the list of nonprofits you'd like to support. </li>
      <li> Enjoy your goodies and feel good about your good deeds. Got it? Good. </li>
    </ul>
  
</div> 
  {% endmacro %} 


{% endblock %}
