{% load url from future %}
{% load basket_tags %}
{% load i18n %}

{% basket_form request product as basket_form single %}

{% if basket_form.purchase_permitted %}
<form action="{% url 'basket:add' %}" method="post">
    {% csrf_token %}
    {{ basket_form.as_p }}

{% if is_booth %}

 {% if user.is_authenticated and request.user.partner and user == product.stockrecord.partner.user %}   {# edit_item_form #}
        <input class="pull-right" type="button" value="Edit this Item" onclick=location.href="{% url 'dashboard:catalogue-product' product.id %}">
 
              

{% else %}
    {% if product.is_available_to_buy %}
        {% comment %}<button type="submit" class="btn btn-primary btn-full">{% trans "Add to basket" %}</button>{% endcomment %}
        <input style="float:right;clear:both;" type=submit value="{% trans "Add to basket" %}">
    {% endif %}
 {% endif %}

 {% endif %}
</form>
{% else %}
    {{ basket_form.reason }}
{% endif %}
