{% load url from future %}
{% load currency_filters %}
{% load reviews_tags %}
{% load thumbnail %}
{% load i18n %}
{% load display_tags %}
{% load staticfiles %}
{% load replace %}
{% load string_filters %}


   {{user}}
        {{product.stockrecord.partner.user}}

<article {% if not is_booth %}class="product_po" {%endif %}>



    {% block product_image %}
    {% if product.get_title|length > 33 %}
    <div class="image_container_long_title booth_image">
    {% else %}
    <div class="image_container booth_image">
    {% endif %}
        {% with image=product.primary_image %}
       {# {% if image.original|is_portrait %}#}
            {% thumbnail image.original "x155" upscale=False as thumb %}
                <a href="{{ product.get_absolute_url }}">
                <img src="{{stat_url}}{{thumb.name}}" 
                alt="{{ product.get_title }}" 
                class="thumbnail pagination-centered" {% if not is_booth %}style="margin:0 auto;" {% else %} style="max-height:220px;" {% endif %}></a>
            {% endthumbnail %}
        {% endwith %}
    </div>
    {% endblock %}

    {% comment %}
    {% block product_review %}
        {% iffeature "reviews" %}
            <p class="star {{ product.rating|as_stars }}"></p>
        {% endiffeature %}
    {% endblock %}
{% endcomment %}
    {% block product_title %}

    <div style="margin-left:10px;margin-bottom:0px;">

    {#<ul style="margin-left:0;list-style:none;display:block;"> #}
   {# <li style="float:right">   </li> #}

   {% if product.get_title|length > 25 %}
   <a style="float:left;font-weight:bold;font-size:0.9em;{%if product.get_title|length > 33 %}line-height:15px;margin-top:0.5em{% endif %}" href="{{ product.get_absolute_url }}">{{ product.get_title|truncatechars:62 }}</a>

   {% else %}
    <a style="float:left;font-weight:bold;font-size:1.1em;" href="{{ product.get_absolute_url }}">{{ product.get_title|truncatechars:26 }}</a>
    {% endif %}
    <!-- </li> -->
    <div style="clear:both"></div>
    {% if not is_booth %}
    {% block product_seller %}
      <!-- <li> -->
        {#Maker:#}
        <a style="color:#999999" href="{% url 'catalogue:index' %}?booth={{product.stockrecord.partner.id}}"> {{ product.stockrecord.partner.name|truncatewords:4 }}</a>
      <!-- </li> -->
    {% endblock %}
    {% endif %}
    {# </ul> #}
      </div>
    {% endblock %}


    {% if is_booth %}

    {% block product_description %}
       {% if product.description %}

         <div class="noMobile">
         <pre>{{product.description|safe }}</pre>
         </div>
         <div class="onlyMobile">
           <pre>{{product.description|two_sentences|safe }}</pre>
         </div>

       {% endif %}
    {% endblock %}


    {% block product_price %}
    <div class="product_pric">
        {% include "catalogue/partials/stock_record.html" %}

        {% if user.is_authenticated and user == product.stockrecord.partner.user or user.is_staff %}   {# edit_item_form #}
        <input class="pull-right" type="button" value="Edit this Item" onclick=location.href="{% url 'dashboard:catalogue-product' product.id %}">
 

         {% if "disabled" in product.status  %}
                 <form action="/catalogue/{{product.title|replace:' ,-' }}_{{product.id}}/" method="post">
                  <input type="hidden" name="id" value={{product.id}}>
                  <input type="hidden" name="enable" value="True">
                  <input style="clear:both;background-color:#FF8533;margin:0 auto;border-width:3px;font-size:0.9em" type=submit value="Item is hidden{% if 'user_disabled' in product.status  %}
                  . Click to make item visible to buyers{% endif%}{% if 'image_disabled' in product.status  %}. 
Upload a product image to make item visible to buyers{% endif%}{% if 'admin_disabled' in product.status  %} by the site admin. 
Please contact us for clarification.{% endif%}">

                </form>
                 {% else %}
                <form action="/catalogue/{{product.title|replace:' ,-' }}_{{product.id}}/" method="post">
                  <input type="hidden" name="id" value={{product.id}}>
                  <input type="hidden" name="disable" value="True">
                  <input style="clear:both;background-color:#F5EBCC;margin:0 auto;border-width:3px;font-size:0.9em" type=submit value="{% trans "Hide item from buyers" %}">
                </form>
               
               
          {% endif %}
        {% endif %}

        {% if product.is_group %}
            <a class="btn btn-full" href="{% url 'catalogue:detail' product.slug product.id %}">{% trans "View" %}</a>
        {% else %}

             {% include "catalogue/partials/add_to_basket_form_compact.html" %}

        {% endif %}
   </div>
    {% endblock %}
    {% endif %}
</article>
