{% load currency_filters %}
{% load i18n %}

{% if product.is_group and product.min_variant_price_incl_tax %}
    <div class="price_colr priceOscar">{% blocktrans with product.min_variant_price_incl_tax|currency as price %}From {{ price }}{% endblocktrans %}</div>
{% else %}
    <div class="price_colo priceOscar">{{ product.stockrecord.price_incl_tax|currency }}</div>
{% endif %}

{% if product.is_available_to_buy %}
    {% if product.is_group %}
        <p class="instock availability ">
            <i class="icon-ok"></i> {% trans "Available" %}
        </p>
    {% else %}
        <p class="{{ product.stockrecord.availability_code }} availability ">
            <i class="icon-ok"></i> {% if is_booth %}{{ product.stockrecord.availability|truncatewords:4 }}{% endif  %}
        </p>
    {% endif %}
{% else %}
    <p class="availability outofstock">
        <i class="icon-remove"></i> {% trans "Not available" %}
    </p>
{% endif %}
