{% extends "layout.html" %}

{% load staticfiles %}

{% block content %}

{% comment %}
<img src="{% static "uploads/zucch03.jpg")) }}" class="store_banner" style="width:100%;">
  </div>
{% endcomment %}
<div style="margin:3%;color:#444444;font-size:1.0em">
{% comment %}<div class="" style="max-width:300px;float:left;display:inline;margin-left:2%;">  {% endcomment %}
{% comment %}<img style="float:left;max-width:260px;margin:0 3% 3% 0;" src="{% static "uploads/pPear_ew_400.jpg")) }}">{% endcomment %}
{% comment %}</div>{% endcomment %}


{% comment %}<div style="display:inline-block;float:left;margin-left:3%;margin-right:1%;margin-top:2%;margin-bottom:4%;color:#555555">{% endcomment %}
<b style="color:#444444;font-size:1.2em;margin:0 0 12px 0;">ABOUT THE COTTAGE FOODS ACT</b>
<p style="margin-top:14px">	
The California Cottage Food Law (AB1616) allows for certain “non-potentially hazardous food” to be produced and sold in your home kitchen. These foods are those that are unlikely to grow harmful bacteria or other toxic microorganisms at room temperature. Currently, the list of foods includes:
</p>
  <div>
  <ul>
	<li>1. Baked goods without cream, custard, or meat ﬁllings, such as breads, biscuits, churros, cookies, pastries, and tortillas </li>
	<li>	2. Candy, such as brittle and toffee </li>
	<li>	3. Chocolate-covered nonperishable foods, such as nuts and dried fruit </li>
	<li>	4. Dried fruit </li>
	<li>	5. Dried pasta </li>
	<li>	6. Dry baking mixes </li>
	<li>	7. Fruit pies, fruit empanadas, and fruit tamales </li>
	<li>	8. Granola, cereals, and trail mixes </li>
	<li>	9. Herb blends and dried mole paste </li>
	<li>	10. Honey and sweet sorghum syrup </li>
	<li>	11. Jams, jellies, preserves, and fruit butters that comply with the standard described in Part 150 of Title 21 of the Code of Federal Regulations </li>
	<li>	12. Nut mixes and nut butters </li>
	<li>	13. Popcorn </li>
	<li>	14. Vinegar and mustard </li>
	<li>	15. Roasted coffee and dried tea </li>
	<li>	16. Wafﬂe cones and pizelles </li>
	The list will include other foods that the Director of the California Department of Public Health chooses to add. </li>
 </ul>
 </div>
    
<h3 class="aboutHeader"> Requirements for a Cottage Food Operation </h3>
  <p>
In order to sell food as a Cottage Food Operator (CFO), you must apply for a permit from your county health department and obtain that permit, complete a self-inspection checklist that includes basic safe food handling practices for direct-to-consumer sales (including at festivals and events, farmers’ markets, through CSAs, etc.), and attend a class (and pass an exam) offered by the California Department of Public Health. You must also register with your city planning office.  If you are planning to conduct indirect sales (selling products through local shops, restaurants, or other third parties that are not the producer), you must also agree to an annual inspection by a local health officer.  
</p>
<p>
In addition, you must adhere to sanitary procedures outlined in the California Health and Safety Code, including washing, rinsing and sanitizing all surfaces, utensils, and your hands before you begin handling and preparing food in your approved kitchen.  You must keep all ingredients in sealed containers when not in use.  Other requirements can be found here.
</p>
<p>
You must also pay for your application to be reviewed, which does not guarantee that your application will be approved.  Fees for “Class A” (direct sales only) and “Class B” (direct and indirect sales) permits vary from county to county, so check with your local health department to learn more.  
</p>

<h3 class="aboutHeader">Application Materials</h3>
<p>
In addition to paying the fee, your application will require that you submit a label for every single item that you plan to sell.  Your label must include the name of the product, the producers name and address, a full list of ingredients in order of their prevalence by weight, a list of any known allergens, net weight of the contents (in both standard and metric weights), the registration or permit number issued by the local county health department, and the location of that health department (county name).  
</p>
{#Sample permits can be found -------link (here).	#}	

<h3 class="aboutHeader">Other Important Components of the Bill</h3>
<ul>
	<li>	1. With the proper permit, a CFO product can be sold to consumers anywhere in California.  </li>
	<li>	2. Each CFO is limited to the amount of gross annual revenue they can earn. In 2013 the limit is $35,000. In 2014, it will be $45,000, and in 2015 and thereafter it will be $50,000.  </li>
	<li>	3. Each CFO is allowed one full time equivalent employee.  Family members living inside the residence that houses the approved kitchen do not count as employees and are allowed to work for the CFO.  </li>
	<li>4. Direct sales are allowed to occur anywhere in California. However, Indirect sales will likely be limited to those within the county where the food was produced. This may vary from county to county, so check with your local health department for specific regulations.  </li>
	<li>	5. Currently, shipping (mailing of any kind) of food produced by a CFO is not allowed. People are working on eliminating this limitation, so please write to the , California Department of Public Health if you think shipping should be allowed.  Here is a sample letter and the address to which your letter should be mailed.  </li>
	<li>	6. While making food products that you intend to sell, small children and pets are not allowed to be in the kitchen. In addition, the following activities are not allowed to take place while preparing food for sale: smoking, preparing food that is not intended for sale, washing clothes and engaging in similar household activities. </li>
</ul>
<p>
For more information about AB1616, please visit the <a href="http://www.cdph.ca.gov/programs/pages/fdbcottagefood.aspx">California Department of Public Health (CDPH) website</a>. In addition, your local county health department should have information specific to your county (or city) regarding the process of applying for and obtaining permits.  If you live in the Los Angeles area, you might also consider signing up for one of our “Cottage Food 101” workshops.  Those of you who live in the San Francisco area might consider signing up for a similar workshop offered by <a href="http://foragesf.com/"> ForageSF</a>.
</p>
</div> {# text wrapper #}

<h3 class="aboutHeader"> Related Links </h3>
<a href="http://www.theselc.org/faq/"> Sustainable Communities Law Center </a>

  </div>

<br><br><br><br><br>


{% comment %}
  </div>
  {% endcomment %}
{% endblock%}