{% extends "layout.html" %}


{% load staticfiles %}


{% block content %}

<div class="aboutStuff2" style="margin:3%;margin-top:0;color:#555555;fontt-size:18px">
{#<div class="" style="max-width:300px;float:left;display:inline;margin-left:2%;">  #}


{#<div style="display:inline-block;float:left;margin-left:3%;margin-right:1%;margin-top:2%;margin-bottom:4%;color:#555555">#}
<b style="color:#444444;font-size:1.2em;">ABOUT US</b>
<p style="margin-top:1.8em;">
Recently, California State Law was changed to allow for the selling of homemade foods, with certain restrictions (AB 1616). Californians rejoiced, and then we baked cakes to celebrate ... and then we wished we had the opportunity to share our baked cakes online. We love and frequent farmer's markets and food exchanges, but we wanted even more options and selections for selling and buying handcrafted and artisanal foods. Hence, the idea for Homemade1616 was born.
</p>
 <p>
A small group of like-minded, local-loving, food-creating and food-feasting friends have collaborated to create a platform for folks just like you to buy and sell tasty treats to and from people in your own community around California. We quickly decided to extend this platform beyond the borders of our great Golden State… after all, there are now 31 states with cottage food laws of some kind or another. We also realized that many artisanal food makers would still be required to work in a commercial kitchen because the cottage food laws can be somewhat restrictive, so we offered all small food businesses the opportunity to join our community.   
 </p>
 <p>
Taking on this project was no small task. We started with a big pot and added our ideas, plans, hopes, passions, calendars and cherished recipes. Yes, it tasted like paper at first, but after lots of stirring it began to develop into a tasty website.
 </p>
 <p>
So you're thinking, buying and selling cottage and artisanal foods online, from fine folks here in my very own community, what could be better than that?  Well, how about the fact that we donate 10% of our proceeds to some amazing California food-related nonprofit organizations, helping to support creative cooks and the broader food movement at the same time?  Yeah, that’s cool.  And how about our hope that within the first year, we’ll be adding on a micro-loan component so that people like you can start up their very own food business, without worrying about how to finance that business?  Yeah, that’s also cool!  If that’s not enough, how about the fact that we offer workshops and events, so you can learn with and from your community?  Okay, enough bragging. 
 </p>
 <p>
There's no time to waste. Sign up to sell your homemade food and buy locally!  It's time to make, buy, sell, give, and learn... oh, and of course, eat!
 </p>
 <p>
We encourage you to browse the website to see what people have to offer, and to open your very own booth. Certain restrictions apply for shipping homemade food, so please ensure you qualify. If you want to learn how to get started, sign up for one of our workshops.  Feel free to contact us with any questions about cottage food laws, permits, shipping restrictions, physics, cognitive psychology or whatever else is on your mind... but keep in mind we’re all working tirelessly to get the word out about our site, so please be patient!
 </p>
 <p>
Thanks for visiting!  With your support, Homemade1616 is going to revolutionize the local food movement!
</p>


  </div> {# about stuff #}

{% endblock content %}