{% extends "layout.html" %}
{% load staticfiles %}

{% block title %}Contact {% endblock %}
{% block content %}


<div class="row-fluid">



<div class="span8 offset2">

{% if msg %}<p><div class=msg> {{ msg }}</div></p>{% endif %}

    <div style="float:left;display:inline-block;margin-left:0"> 
      <h2 style="margin:0 0 0 10px">Contact 

      {% if oscarUserToMsg.is_staff %}
         Homemade 1616
      {% elif oscarUserToMsg.partner %}
        {{oscarUserToMsg.partner.name}}
      {%elif oscarUserToMsg.first_name %}
           {{oscarUserToMsg.first_name }}
      {% elif email %}
        a guest customer
	    {% else %}	
        a booth 
	  
	    {%endif%}


    {% if subject %}

     about <br>'{{subject}}'
    {% endif %}
      </h2>
    


</div>
  <div class="sellerPic" style="float:left;margin-left:2em">
  {% if userToMsg.personalPicPath %}
   <img src="{{stat_url}}{{userToMsg.personalPicPath}}" class="" style="height:auto;width:80px;border:2px #777777 solid;border-radius:10px" > 
  {% endif %}  
    </div>
     <div style="clear:both;"> </div>

{% comment %}
   {% if not subject %}
     {% if topicDict|length > 0 %}
	   {% for topic in topicDict %}
		   {{topic.key}}  {{topic.value}}
     {%endfor%}
     {% endif %}
   {% endif %}
    {% endcomment %}

 {% if msg %}<div class=msg> {{ msg }}</div>{% endif %}

  <form id="msgForm" action="" method="post" style="padding=0;margin:0">

    {% csrf_token %}

    {% if not request.user or request.user.is_anonymous %}

    Please enter your email address:
    <input id="anon_email" type="email" name="email">
    <div id="anon_email_err" style=""> </div>

    {% endif %}

    {% if not oscarUserToMsg.is_staff  %}
    <div id="reply_to_group" style="font-size:1.1em;margin:1em 0 0 0">
       <input id="reply_to_input" style="margin:0em 1em 0.5em 0" type="checkbox" name="reply_to">
       Allow the recipient to see and reply to your email address
        &nbsp;&nbsp;<div style="color:#888888">(otherwise we keep your email hidden, but they can still reply)</div>
       <div id="reply_to_input_err" style=""> </div>

</div> {#reply_to#}
    {% endif %}

    <input id="emailSubjectHidden" type='hidden' name="subject" value="{{subject}}" >

    <dl style="padding=0;margin:0">
      {% if not subject %}
        {% if topicDict|length > 0 %}

      <dt> Select a topic: </dt>
	       <select style="padding:0.5em 1em; border-color: #aaaaaa; background-color:dddddd;" name="topicChoice" autocomplete="off">

		      {% for topic, topicName in topicDict.items %}

		          <option  {% if topic == "other" %} selected="selected" {%endif%} value ="{{topic}}">{{topicName}} </option>
            }
            }
		      {%endfor%}
        </select>
        {% endif %}
      {% endif %}
      <dt>Message:</dt>
   
   
   <div id="msgText_err "></div>
    <dd>
      <textarea id="msgText" class="wide" style="margin:8px 0 0 6px" autofocus="autofocus" rows=5 name=text >{{msgText}}</textarea>
    </dd>


    </dl>

        <button id="submitMessage" style="margin-left:1.2em;font-size:1.2em" class="btn btn-primary btn-large" name="actio" type="button" value="save"> Send message</button>
    {% comment %}
    <div class=actions>
    <input id="msg-submit" type=sub value="Send message">
    </div>
    {% endcomment %}
  </form>



  {% comment %}   
<div id="browseBannerWide" style="margin-top:3em;width: 102%;height:6em;overflow:hidden; float:left;margin-left:-2%;z-index:0;position:relative">
  
<img src="{% static "uploads/ivyFence04.jpg")) }}" class="store_banner" style="width:100%;margin-top:-250px;">
  </div>
{% endcomment %}

  </div> {# span #}
</div>  {# row #}



<script>

function errWrap(text) {
    return '<ul class="errorlist">' + text +' </ul>';
}


function errMsg(id, msg) {
    return $('#'+ id).html(errWrap(msg));
}


function goToByScroll(id){
    $('html,body').animate({scrollTop: $("#"+id).offset().top},'slow');
}

$(document).ready(function() {


  {% if not request.user or request.user.is_anonymous %}
  $('#submitMessage').click(function() { 
    if (! $('#anon_email').val() ){
      errMsg('anon_email_err', "Please enter your email address");
      goToByScroll("anon_email");
      // $('#anon_email_err').text("Please enter your email address");
    }
    else{
      $("#msgForm").submit();
    }
  });
  {% else %}
 $('#submitMessage').click(function() { 
    if (! $('#msgText').val() ){
      errMsg('msgText_err', "Please type a message");
      //goToByScroll("msgText");
      // $('#anon_email_err').text("Please enter your email address");
    }
    else{
      $("#msgForm").submit();
    }
  });

  {% endif %}




});


</script>
  




{% endblock %}
