{% extends "layout.html" %}
{% load staticfiles %}

{% block title %}Contact {% endblock %}
{% block content %}


<div class="row-fluid">



<div class="span8 offset2">

{% if msg %}<p><div class=msg> {{ msg }}</div></p>{% endif %}

    <div style="float:left;display:inline-block;margin-left:0"> 
      <h2 style="margin:0 0 0 10px">Contact 

      {% if oscarUserToMsg.is_staff %}
         Homemade 1616
      {% elif oscarUserToMsg.partner %}
        {{oscarUserToMsg.partner.name}}
      {%elif oscarUserToMsg.first_name %}
           {{oscarUserToMsg.first_name }}
      {% elif email %}
        a guest customer
	    {% else %}	
        a booth 
	  
	    {%endif%}


    {% if subject %}

     about <br>'{{subject}}'
    {% endif %}
      </h2>
    


</div>
  <div class="sellerPic" style="float:left;margin-left:2em">
  {% if userToMsg.personalPicPath %}
   <img src="{{stat_url}}{{userToMsg.personalPicPath}}" class="" style="height:auto;width:80px;border:2px #777777 solid;border-radius:10px" > 
  {% endif %}  
    </div>
     <div style="clear:both;"> </div>

{% comment %}
   {% if not subject %}
     {% if topicDict|length > 0 %}
	   {% for topic in topicDict %}
		   {{topic.key}}  {{topic.value}}
     {%endfor%}
     {% endif %}
   {% endif %}
    {% endcomment %}

 {% if msg %}<div class=msg> {{ msg }}</div>{% endif %}

  <form action="" method="post" style="padding=0;margin:0">

    {% csrf_token %}

    {% if not request.user or request.user.is_anonymous %}

    Please enter your email address:
    <input type="email" name="email">

    {% endif %}



    <input id="emailSubjectHidden" type='hidden' name="subject" value="{{subject}}" >

    <dl style="padding=0;margin:0">
      {% if not subject %}
        {% if topicDict|length > 0 %}

      <dt> Select a topic: </dt>
	       <select style="padding:0.5em 1em; border-color: #aaaaaa; background-color:dddddd;" name="topicChoice" autocomplete="off">

		      {% for topic, topicName in topicDict.items %}

		          <option  {% if topic == "other" %} selected="selected" {%endif%} value ="{{topic}}">{{topicName}} </option>
            }
            }
		      {%endfor%}
        </select>
        {% endif %}
      {% endif %}
      <dt>Message:</dt>
   
    {% comment %} 
     <dd>
      <input  autofocus="autofocus" type=text name=text size=500 > 
     </dd>
      {% endcomment %}

    <dd>
      <textarea class="wide" style="margin:8px 0 0 6px" autofocus="autofocus" rows=5 name=text >{{msgText}}</textarea>
    </dd>

    </dl>
    <div class=actions><input id="msg-submit" type=submit value="Send message"></div>
  </form>



  {% comment %}   
<div id="browseBannerWide" style="margin-top:3em;width: 102%;height:6em;overflow:hidden; float:left;margin-left:-2%;z-index:0;position:relative">
  
<img src="{% static "uploads/ivyFence04.jpg")) }}" class="store_banner" style="width:100%;margin-top:-250px;">
  </div>
{% endcomment %}

  </div> {# span #}
</div>  {# row #}

{% endblock %}
