{% extends "layout.html" %}

{% load staticfiles %}

{% block extrastyles%}
{{block.super}}
<link rel='stylesheet' type=text/css href="{% static 'style_modal.css' %}">
<link rel='stylesheet' type='text/css' href="{% static 'style_colors.css' %}"/>

{% comment %}
<script type="text/javascript" src="{% static 'js/jquery.autocomplete.min.js' %}"></script>

<script  src="{% static 'js/select2.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'js/select2.css' %}" />
{% endcomment %}

<!-- add image crop styles -->
<link href="{% static 'js/main_crop.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'js/jquery.Jcrop.min.css' %}" rel="stylesheet" type="text/css" />

<!-- add image crop scripts -->
<script src="{% static 'js/jquery.Jcrop.min.js' %}"></script>
<script src="{% static 'js/script_crop.js' %}"></script>
{% comment %}
<script src="{% static 'js/modernizr.custom.60846.js' %}"></script>
{% endcomment %}

{# summernote WYSIWYG #}
<!-- include summernote css/js-->
<link href="{% static 'js/summernote/summernote.css' %}" rel="stylesheet">
<script src="{% static 'js/summernote/summernote.js' %}"></script>

<link href="{% static 'js/summernote/summernote_page.css' %}" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">


{% endblock %}

{% block bannerFile %}{{STATIC_URL}}icons/BannerImage-3.jpg{% endblock %}

{% block title %}
  Edit your booth
{% endblock %}

{% block content %}


<div style="clear:both"> </div>

  {% if partner %}
    <h2>Edit your booth</h2>
  {% else %}
    <h2>Create your booth</h2>
  {% endif %}
  {% if error %}<p><div class=error><strong> {{ error }}</strong></div></p>{% endif %}
  



  {% comment %}<form class="store_register" action="" method=post  enctype="multipart/form-data">{% endcomment %} 
    <form id="booth-form" class="store_pic_upload_form" enctype="multipart/form-data" method="post" action=""  onsubmit="">
      {% csrf_token %}

  {% comment %} <form class="store_pic_upload_form" enctype="multipart/form-data" method="post" action=""  onsubmit="return checkForm()"> {% endcomment %}
  

  
    <dl>
      <dt>Store name (optional):
      <dd><input id="store_name" autofocus="autofocus" type=text name=store_name size=30 value="{{ partner.name }}" style="width:300px">
      </dd>
    
 
{% comment %} 
 <dt>County 
 
   <dd> <div>
       
      
    <input name="county" id="filter" type='hidden' value="Kern" style="" ='width:300px;padding:0.5em;margin:0.5em'/>
    
    <script type="text/javascript">
    $('#filter').select2({
    minimumInputLength: 1,
    	placeholder: 'Type your county name',
    	allowClear: true, 	
    	formatInputTooShort: function() { return ''; }, 
    	
    	matcher: function(term, text) { return text.toUpperCase().indexOf(term.toUpperCase())==0; },
    
    
    data:[
    {% for c in counties %}
    	{"id":"{{c.county}}","text":"{{c.county}}"},
    	
    {% endfor %}
    ]
    
}){% if u.county %}.select2('val', ['{{u.county}}']) {% endif %};

    // $("#id").select2().select2("val", null);
    // $("#id").select2().select2("val", "Kern");
    </script>
    
    
    </div>
    
    {% endcomment %} 
     {% comment %} <dd><input type=text name=county size=32> {% endcomment %}
      
      <dt> Zipcode (optional)
      <dd><input id="zipcode" type=text name=zipcode size=5 {% if partner.zipcode %} value="{{ partner.zipcode }}" {%endif%}>
    

 

      <dt>Bio: 


    {% if partner.bio %} 
      <dd><textarea id="bioBackup" class="wide" rows=4 cols=80 name=bio>{{partner.bio}}</textarea>
    {% else %}
      <dd><textarea id="bioBackup" rows=4 cols=80 name=bio></textarea>
    {% endif %}


  <div class="row-fluid" style="max-width:60%">
    <div class="span9">
      <div class="summernote " id="bioContainer" style="max-width:100%" >
         {% if partner.bio %} 
           {{partner.bio|safe}}
         {% endif %}
      </div>
    </div>
    </div>

        <input type="hidden" id="bio" name="bio"
          {% if partner.bio %} 
            value="{{partner.bio}}"
          {% endif %} 
        /> 
    </dt>


    {% comment %}
      <dt> Permit-type (required) <a href="{% url "permitInfo" %}"> What's this? </a>
	<dd><select name="permitType">
	  <option></option>
	  <option value ="N">No Permit</option>
	  <option value ="A">Permit category A</option>
	  <option value ="B">Permit category B</option>
	  <option value ="C">Commercial Permit</option>
	</select>
{% endcomment %}



   
  
      <dt>Upload an image to represent your booth:

      
      
    <dd><input type="file" name="store_pic" accept="image/*" /> 
   
   
   {% comment %}
     <!-- crop upload form -->
   
   
        <!-- hidden crop params -->
        <input type="hidden" id="x1" name="x1" />
        <input type="hidden" id="y1" name="y1" />
        <input type="hidden" id="x2" name="x2" />
        <input type="hidden" id="y2" name="y2" />

        <div style="opacity:100"> <input  type="file" name="store_pic" id="image_file" onchange="fileSelectHandler()" /></div>

        <div class="step2">
            <h2> Please select a portion of the image to be the banner for your booth (the aspect ratio is fixed)</h2>
            <br><br>
            <img id="preview" sstyle="width:50%"/>

            <div class="info" >
                <label>File size</label> <input type="text" id="filesize" name="filesize" />
                <label>Type</label> <input type="text" id="filetype" name="filetype" />
                <label>Image dimension</label> <input type="text" id="filedim" name="filedim" />
                <label>W</label> <input type="text" id="w" name="w" />
                <label>H</label> <input type="text" id="h" name="h" />
            </div>

        </div>
        
        {% endcomment %}
        
           <div class="error"></div>
   

  
   
 


</dl>

{% comment %}
 <div class=actions > <input id="submit-booth" class="noNeedsTerms" type=submit value="Save changes" style="margin:2.5em"></div>
{% endcomment %}

 <button id="submit-booth" style="margin-left:1.2em;font-size:1.2em" class="btn btn-primary btn-large" name="actio" type="button" value="save">Save Changes</button>


  </form>
  
 
  <script type="text/javascript">

//jQuery(document).ready(function($){
     $(document).ready(function() {
      // $('.summernote').summernote();
    // window.document.getElementById("bioContainer").summernote();

try{
$('.summernote').summernote({
 height: 100,                 // set editable height, ex) 300
  options: {
    //  width: null,                  // set editor width
      // height: 200,                 // set editable height, ex) 300

   //   focus: false,                 // set focus after initilize summernote

    //  tabsize: null,                // size of tab ex) 2 or 4
    //  styleWithSpan: true,          // style with span (Chrome and FF)

      disableLinkTarget: true,     // hide link Target Checkbox
    //  disableDragAndDrop: false,    // disable drag and drop event

    //  codemirror: null,             // codemirror options

      // language
    //  lang: 'en-US',                // language 'en-US', 'ko-KR', ...
    //  direction: null,              // text direction, ex) 'rtl'
},
  toolbar: [
    //['style', ['style']], // no style button
    ['style', ['bold', 'italic', 'underline']],
    ['fontsize', ['fontsize']],
    //['color', ['color']],
    ['para', ['ul', 'ol', 'paragraph']],
    ['link', ['link']],
    //['height', ['height']],
    //['insert', ['picture', 'link']], // no insert buttons
    //['table', ['table']], // no table button
    //['help', ['help']] //no help button
  ]

});
  $('#bioBackup').hide();

}
catch(err)
  {
  txt="There was problem using summernote on this page.\n\n";
  txt+="Error description: " + err.message + "\n\n";
  txt+="Click OK to continue.\n\n";
  console.log(txt);

  }

    });

// jQuery(document).ready(function($){
 $(document).ready(function() {

$('#submit-booth').click(function() { 
  //alert("YEAH");

    // For summernote
    try{
    var sHTML = $('.summernote').code();
    $("#bio").val($('.summernote').code());
      }
catch(err)
  {
  txt="There was problem using summernote on this page.\n\n";
  txt+="Error description: " + err.message + "\n\n";
  txt+="Click OK to continue.\n\n";
  console.log(txt);
  $('#bio').val($('#bioBackup').val());
  // alert(txt);
  }

    $("#booth-form").submit();
});
});





  </script>

{% endblock %}

