{% extends "layout.html" %}
{% load staticfiles %}
{% load i18n %}

{% block extrastyles %}
  {{ block.super }}
  <link rel='stylesheet' type='text/css' href="{% static 'style_modal.css' %}"/>
<style>

.faqHeader {
  color: #009900;
  font-size: 1.2em;
  cursor:pointer;
}
.faqAnswer {
    background-color: #fafafa;
    padding:0.7em;
    border-radius: 0 0 12px 12px;
}

.shado {
text-shadow: 0px 1px 14px rgba(0,0,0,0.9),
0px 1px 30px rgba(0,0,0,0.9),
                 4px 4px 10px rgba(0,0,0,0.95),
                 -4px 4px 10px rgba(0,0,0,0.95);

}

.faqTitle {
  font-size:1.5em;
  margin-bottom:0.4em;
  font-weight:bold;
  line-height: 1.2em;
}

</style>
{% endblock %}

{% block title %}Connect with Stripe payments{% endblock %}
{% block body %}

<div style="font-size:1.2em">
<div class="faqTitle" style="" >
  Frequently Asked Questions
</div>
<hr style="margin:14px 0 0 0;color:#eeeeee;border-color:#eeeeee;border-width:3px;">

<br><br>
{% comment %}
 <a id="paymentInfoModalLinkLink" style="color:#ff6666;font-size:1.1em;float:lef;margin-top:10px;margin-left:0.5em" href="#openModalPayments"> Click to see more details about payments</a>
{% endcomment %}

<div id="sellingHeader" class="faqHeader" style="margin-bottom:0.4em;" >
  How do I become a seller?
</div>

<div id="sellingText" class="faqAnswer">

  <p style="margin-left:1.4em">
  We are trying to make selling locally as simple as possible. Just <a id="open-booth" href="{% url 'register_store' %}"> open a booth</a> , sign up for receiving payments, and choose delivery and pickup options. Add items to your booth, with a picture and description of each. That's it! There are no listing fees. We take a small percentage of each sale, in addition to the external transaction fees.

</p>
</div>

<br><br>
<div id="paymentsHeader" class="faqHeader" style="margin-bottom:0.4em;" >
  How are payments handled?
</div>

<div id="paymentsText" class="faqAnswer">
  <p style="margin-left:1.6em">
         Currently we are are using Stripe as our credit card processing system. Stripe is a payment service that takes care of credit card payments, and makes deposits directly to a bank account of your choosing. It comes with a easy to understand view of your payment history, and gives you direct control over refunds. The buyer's credit card information goes straight to Stripe over a secure connection without passing through our site, so your customers will know that their payments are safe. <br><br>The fees for using Stripe are currently 2.9% of the sale plus 30 cents, which is taken from the sale price of your items. Our fees are 3.5% of the sale, so the total fees on each transaction are 6.4% + 30 cents.
  </p>
  <br>
               <p> <b>Other payment options</b></p>

<p style="margin-left:1.6em">
    We plan to offer <b>PayPal</b> as a payment service in the near future. We're also interested in payment methods which have lower fees, such as <b>Dwolla</b>. We would also like to encourage bartering as an option for local purchases.
         If you have a preferred payment method that we do not offer, please <a href="{% url 'contactUs' %}?topic=Payment processing" target="_blank" >let us know</a> and we'll try to incorporate it as an option down the road. Thanks!
        </p>
<br>
<p>
<b>If you have any further questions about payments please <a href="{% url 'contactUs' %}?topic=Payment processing" target="_blank" >contact us</a>.</b>
</p>
</div>
<br><br>

<div id="shippingHeader" class="faqHeader" style="margin-bottom:0.4em;" >
  What are the shipping and delivery options?
</div>


<br>


<div id="shippingText" class="faqAnswer">
 <p style="margin-left:1.6em">
 We offer shipping with USPS and UPS, and also the option for local pickup and delivery.
 </p>

 <p style="margin-top:1em;"> <b>USPS Flat-Rate Priority Mail </b></p>

       <p style="margin-left:1.6em">
        An easy and inexpensive option for domestic shipping is to use flat-rate Priority Mail boxes available through the postal service. Simply pick which boxes you will be using, and enter the number of items that can fit in the type of box(es) that you are shipping in. We'll then calculate how many boxes are needed to fulfill each order. A shipping label with the buyer's address will be available for printing from the order summary page.
</p>


        <p> <b>Shipping rate calculator and printed labels </b></p>
        <p style="margin-left:1.6em"> Currently at HM1616 we can accurately calculate shipping costs for USPS First Class, USPS Parcel Select, and UPS based on the weight of an item, assuming moderately sized items. If your item is very large (more than  8"x8"x8") or otherwise requires special shipping, the shipping calculator would not be accurate, so please use the fixed price shipping option. 
       </p>

                  <p> <b>Custom shipping</b></p>
                  <p style="margin-left:1.6em"> We realize that it may be easier for you to deal with shipping yourself. If that's the case, we offer the option to provide your own shipping.</p>




               <p> <b>Going local</b></p>

<p style="margin-left:1.6em">
        Of course, local pickup or self-delivery can be an option if you like, and we hope to offer more local delivery options as they become available. 
         If you know of a suitable delivery service in your area, let us know at support@homemade1616.com and we'll try to incorporate it as an option in the future. Thanks!
        </p>

<p>
<b>If you have any further questions about delivery please <a href="{% url 'contactUs' %}?topic=Shipping question" target="_blank" >drop us a line</a>.</b>
</p>
</div> {#shippingText#}

</div>

<script>
$(document).ready(function() {


// $("#sellingText").hide();
// $("#paymentsText").hide();
// $("#shippingText").hide();

  $(".faqAnswer").hide();

  $('#shippingHeader').click(function() { 

    $("#shippingText").slideToggle(200);

  });

 $('#sellingHeader').click(function() { 
    $("#sellingText").slideToggle(200);
  });

   $('#paymentsHeader').click(function() { 
    $("#paymentsText").slideToggle(200);
  });



 // $('#shippingHeader').hover(function() { 
 //    $("#shippingText").fadeIn(800);
 //  });

 //  $('#sellingHeader').hover(function() { 
 //    $("#sellingText").fadeIn(800);
 //  });

 //   $('#paymentsHeader').hover(function() { 
 //    $("#paymentsText").fadeIn(800);
 //  });

  //   if (! $('#anon_email').val() ){
  //     errMsg('anon_email_err', "Please enter your email address");
  //     goToByScroll("anon_email");
  //     // $('#anon_email_err').text("Please enter your email address");
  //   }
  //   else{
  //     $("#msgForm").submit();
  //   }
  

});


</script>



  <div id="openModalPayments" class="modalShipInfo">
      <div> 
        <a href="#close" title="Close" class="close">X</a>
        <h2><b>Payment Processing Information</b></h2>

     <p> <b>Stripe</b></p>
    
       <p style="margin-left:1.6em">
         Stripe is a payment service that takes care of credit card payments, and makes deposits directly to a bank account of your choosing. It comes with a easy to understand view of your payment history, and gives you direct control over refunds. The buyer's credit card information goes straight to Stripe over a secure connection without passing through our site, so your customers will know that their payments are safe. <br><br>The fees for using Stripe are currently 2.9% of the sale plus 30 cents. Our fees are 3.5% of the sale, so the total fees on each transaction are 6.4% + 30 cents.
  </p>
  <br>
               <p> <b>Other payment options</b></p>

<p style="margin-left:1.6em">
    We plan to offer <b>PayPal</b> as a payment service in the near future. We're also interested in payment methods which have lower fees, such as <b>Dwolla</b>. We would also like to encourage bartering as an option for local purchases.
         If you have a preferred payment method that we do not offer, please <a href="{% url 'contactUs' %}?topic=Payment processing" target="_blank" >let us know</a> and we'll try to incorporate it as an option down the road. Thanks!
        </p>


<br>
<p>
<b>If you have any further questions please <a href="{% url 'contactUs' %}?topic=Payment processing" target="_blank" >contact us</a>.</b>
</p>

          <article>
          <label>
            <span></span>
          </label>
          </article>

          
          <a class="btn orgButton" style="margin-top:14px;" href="#close"> Close window</a>

    </div> 
  </div>


{% endblock %}
