{% load staticfiles %}
<!DOCTYPE html>
<html>


<head>

<!-- include libries(jQuery, bootstrap, fontawesome) -->
<script src="//code.jquery.com/jquery-1.9.1.min.js"></script> 


  {% comment %}
                        <link rel="stylesheet" type="text/css" href="{% static "oscar/css/styles.css" %}" />
                        <link rel="stylesheet" type="text/css" href="{% static "oscar/css/responsive.css" %}" />
{% endcomment %}
{% comment %}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css" rel="stylesheet"> 
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script> 
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
{% endcomment %}


  


<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet"> 

<!-- include summernote css/js-->
<link href="{% static 'js/summernote/summernote.css' %}" rel="stylesheet">
<script src="{% static 'js/summernote/summernote.min.js' %}"></script>


 <!-- include page style and script -->

  <link href="{% static 'js/page.css' %}"  rel="stylesheet">
  <script type="text/javascript" src="{% static 'js/summernote_page.js' %}"> </script>

</head>





<body>
<div class="row-fluid">

  <div class="span5 offset4">
  first text
  </div>



</div>


<script >
$(document).ready(function() {
 
  $('#summernote').summernote({
  height: 300,   //set editable area's height
  focus: true    //set focus editable area after Initialize summernote
});
});
</script>

<div id="summernote" class="summernote">Hello Summernote</div>



</body>

</html>


