{% extends "layout.html" %}



{% block content %}

<div class="row-fluid">

<div class="span10 offset1">

<div class="resourcesInfo" id="resourcesInfo" style="margin:3%;margin-top:0;color:#555555;fontt-size:18px">
{#<div class="" style="max-width:300px;float:left;display:inline;margin-left:2%;">  #}


{#<div style="display:inline-block;float:left;margin-left:3%;margin-right:1%;margin-top:2%;margin-bottom:4%;color:#555555">#}
<b style="color:#444444;font-size:1.4em;">Other Resources</b>
<p style="margin-top:1.8em;">

Are you new to the Cottage Food scene? Or maybe you just want to learn more about the rules and regulations... Either way, we're happy to help connect you with resources to answer your questions.
</p>
<p>
<a href="http://www.theselc.org/cottage-food-laws/" target="_blank">The Sustainable Economies Law Center </a> describes the California Homemade Food Act (AB1616) and provides links to a summary of the bill.  They also have an awesome <a href="http://www.theselc.org/faq/" target="_blank">FAQ </a> page that addresses issues about shipping regulations, direct and indirect sales, the differences between Class A and B permits, selling across borders, and many others. 
</p>
<p>
Aren't from California?  Well, we hope you love your state as much as we love ours, but more importantly, we hope your state allows you to sell cottage food! {% comment %}Visit <a href="http://www.cottageFoods.org/laws/" target="_blank"> this CottageFoods.org page</a> for more information. {% endcomment %} We suggest you check your local and state Health Department websites for more specific information about rules and regulations.
</p>
<p>
Feel free to contact us if you have other links that you think would be helpful for our community.  We can't promise to post them, but we can promise to consider posting them.  Thanks!
</p>

  </div> {# about stuff #}


  </div>  {# span#}
  </div> {# row #}

{% endblock content %}