{% extends "base.html" %}

{% load currency_filters %}
{% load promotion_tags %}
{% load category_tags %}




{% block layout %}

{% block header-stuff %}
 <header class="header container-fluid">
        <div class="page_inne">
            <div class="row-fluid">
             

                                 <div class="span12">

     <div id="browseBannerWide" style="width: 102%;height:6em;overflow:hidden; float:left;margin-left:-1%;z-index:0;position:relative">
    <img src="{% block bannerFile %}{{STATIC_URL}}icons/BannerImage-3.jpg{% endblock %}" class="store_banner" style="width:100%;">
  </div>
</div>
                 <div class="span4">

<div class="logoIndex span8">  
 
  <a href=" {%url 'catalogue:index' %}"> <img class="brandLogo" style="z-index:100;margin-top:-125px;" src="{{ STATIC_URL }}icons/H1616-LOGO-BROWN.png">  </a>

</div> 


                </div>
                {% comment %}
                <div class="span8">
                    {# Mini-basket wrapped in a block so some templates can now display it #}
                {% block mini_basket %}{% include "partials/mini_basket.html" %}{% endblock %}
                </div>
{% endcomment %}

            </div>

        {% include "partials/nav_checkout.html" %}


        </div>
        {% block navigation %}
        {%comment%}    {% include "partials/nav_primary.html" %} {%endcomment%}
        {% endblock %}
    </header>

{% endblock %} {# header-stuff #}


{% comment %}
    <header class="header container-fluid">
        <div class="page_inner">
            <div class="row-fluid">
                {% include "partials/brand.html" %}
            </div><!-- /row-fluid -->
        </div>
        {% include "partials/nav_checkout.html" %}
    </header><!-- /header -->
{% endcomment %}
    <div class="container-fluid page">
        {% include 'partials/alert_messages.html' %}
        {% block header %}{% endblock %}

       <div class="page_inner">
            {% block checkout_nav %}{% endblock %}

            <!-- The main nav on checkout pages contain links to modal flatpages -->
            {% block modal %}
                {% load flatpages %}
                {% get_flatpages '/order/' as flatpages %}
                {% for page in flatpages %}
                <div id="{{ page.title|slugify }}" class="modal hide fade">
                    <div class="modal-header">
                        <a class="close" data-dismiss="modal">×</a>
                        <h3>{{ page.title }}</h3>
                    </div>
                    <div class="modal-body">
                        <div class="large-content">
                            {{ page.content|safe }}
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% endblock %}

            {% block content %}{% endblock %}

            <div id="promotions">
                {% for promotion in promotions_page %}
                    {% render_promotion promotion %}
                {% endfor %}
            </div>
        </div><!-- /page_inner -->
    </div>
    {% include "partials/footer_checkout.html" %}
{% endblock %}
