{% extends "checkout/checkout.html" %}
{% load url from future %}
{% load currency_filters %}
{% load i18n %}
{% load staticfiles %}


{% block title %}
    {% trans "Payment details" %} | {{ block.super }}
{% endblock %}

{% block checkout_nav %}
    {% include 'checkout/nav.html' with step=3 %}
{% endblock %}

{% block order_contents %}{% endblock %}
{% block shipping_address %}{% endblock %}
{% block shipping_method %}{% endblock %}
{% block payment_method %}{% endblock %}

{% block payment_details %}
    <div class="sub-header">
        <h2>{% trans "Enter payment details" %}</h2>
    </div>

	{% block payment_details_content %}
		

{% if basket.sponsored_org %}

    <div class="span5 pull-left" style="margin:0">


<p> You have chosen to benefit <b>{{basket.sponsored_org.name}}</b> with this
transaction. </p>

  <form style="float:left;" method=post action="{% url 'checkout:payment-details' %}">
  {% csrf_token %}

    <input type="hidden" name="basket_id" value={{basket.id}} /> 
    <input type="hidden" name="unsetSponsoredOrg" value='' /> 

    <button style="width:100%;" class="orgButton" type="submit" name="sponsoredOrg" value="">Choose again</button>

  </form>

</div> {# grid span #}:

<div style="clear:both"></div>

{% if payment_method %}

	
<div style="margin:1em 0 1em 0">
    <b style="font-size:1.2em">
    {% if payment_method == "in_person" %}
        Paying in person at time of pick-up.
    {% endif %}

    {% if payment_method == "stripe" %}
        Paying with card.
            {% if mu.stripeHasCard %}
            	{#Your card is authorized for payments with this booth.#}
            {% else %}
            	You'll enter card information when you place your order.
            {% endif %}

    {% endif %}
    </b>
</div>
{% endif %}

<div style="clear:both"></div>
{% if pay_in_person_allowed or test_local %}
{% if shipping_method.code == 'local-pickup' or test_local %}

 <form style="float:left;margin:1.2em 0 0 0" method="POST" action="{% url 'checkout:preview' %}">
   
    {% csrf_token %}
    <input type="hidden" name="basket_id" value={{basket.id}} /> 
    <input type="hidden" name="payment_method" value="in_person" /> 

    {#<input type="hidden" name="place-order" value="True" /> #}

    <button id="payInPersonButton" style="width:100%;background-color:#D9E9FF;" class="orgButton" type="submit" name="sponsoredOrg" value="">Pay in person at time of pickup</button>

  </form>
{% endif %}
{% endif %} {# local payment allowed #}

{% if shipping_method.code == 'local-pickup' or shipping_method != None %}

  <div style="clear:both"></div>

  {#{% if mseller.stripeSellerToken and mseller.stripeSellerPubKey %}#}
  {% if basket.seller.stripeToken and basket.seller.stripePubKey %} 

  {# This is where the user picks payment method#}

<form style="float:left;margin:1.2em 0 0 0" method="POST" action="{% url 'checkout:preview' %}">
  
 {% csrf_token %}
    <input type="hidden" name="basket_id" value={{basket.id}} /> 
    <input type="hidden" name="payment_method" value="stripe" /> 

    {#<input type="hidden" name="place-order" value="True" /> #}

    <button id="choose-stripe" style="width:100%;background-color:#D9E9FF;" class="orgButton" type="submit" name="stripe" value="">Use card for payment</button>

  </form>

  {% endif %} {# seller has Stripe #}

{% endif %}

  <div style="clear:both"></div>

{% if payment_method %}

	<a href="{% url 'checkout:preview' %}?basket_id={{basket.id}}" class="btn btn-primary btn-large">{% trans "Continue" %}</a>

{% endif %}


{% else %} {# no org picked #}
    
    <div class="span8 pull-left" style="margin:0">

  <p>
    First, please choose the organization you wish to benefit from this sale: 
    <a style="color:#ff6666;font-size:1.0em;float:lef;margin-left:0.5em" href="#openModalGive"> What's this?</a>

  </p>

    <div id="openModalGive" class="modalGiveBackDialog">
      <div> 
        <a href="#close" title="Close" class="close">X</a>
        <h2>Giving Back To The Local Food Community</h2>
        <p> Every time you buy something on homemade1616.com, we donate 10% of our proceeds to an amazing California-based food-related nonprofit organization, and you get to choose which organization receives that donation upon checkout! </p> <p> Sellers pay nothing extra. You pay nothing extra. We think giving back is the right thing to do.
        </p>
        <form action="#close" method="" >
          <article>
          <label>
            <span></span>
          </label>
          </article>
          <input type="hidden" name="return" value="True" /> 
          <div class=deleteButto><input type=submit value="Close window"></div>
      
        </form>      
    </div> 
  </div>
  {% for sponsored_org in current_sponsored_orgs %}

   <form style="float:right;margin:0px;" method=post action="{% url 'checkout:payment-details' %}">
 {% csrf_token %}
     <input type="hidden" name="basket_id" value={{basket.id}} /> 
     <input type="hidden" name="setSponsoredOrg" value='' /> 
     <input type="hidden" name="sponsored_org_id" value='{{sponsored_org.id}}' /> 

     <span>
     <button style="width:170px;hheight:3em;padding:5px 6px 5px 6px" class="orgButton" type="submit" name="sponsoredOrg" value="">{{sponsored_org.name}}</button>
     </span>
     <span>
    <img src="{% static 'icons/FoodForward_TwoColor-LLR.jpg' %}" class="sponsoredLogo" style="width:8em" > 

     <a style="margin-left:3em" href="http://foodforward.org/about/" target="_blank"> About this organization</a>
      
     </span>
  </form>
  <div style="clear:both"> </div>

  {% endfor %} {# current sponsored orgs #}

  </div> {# grid span #}

{% endif %}   {# sponsoredOrg#}








	
	{% endblock payment_details_content %}

{% endblock payment_details %}
