{% extends "checkout/checkout.html" %}

{% load url from future %}
{% load i18n %}

{% block title %}
    {% trans "Order preview" %} | {{ block.super }}
{% endblock %}

{% block checkout_nav %}
    {% include 'checkout/nav.html' with step=4 %}
{% endblock %}

{% block place_order %}



</div> {# grid span #}

 {% if payment_method == "stripe" %}
 

{% if mseller.stripeSellerToken and mseller.stripeSellerPubKey %}
  
  {# This is where the user pays #}
  <div class="pull-right" style="margin:1em;">


   {# <form action="/charge_shared" method="post" >#}
<form style="" method="POST" action="{% url 'checkout:payment-details' %}">
    <input type="hidden" name="basket_id" value={{basket.id}} /> 
    <input type="hidden" name="place-order" value="True" /> 
    <input type="hidden" name="stripe" value="True" /> 

    <input type="hidden" name="order_total_incl_tax" value="{{order_total_incl_tax}}" /> 
    <input type="hidden" name="order_total_incl_tax_in_cents" value="{{order_total_incl_tax_in_cents}}" /> 

     {% comment %}
      <article>
        <label>
          <span>Your total is {{order_total_incl_tax|currency}}</span>
        </label>
      </article>
{% endcomment %}

    {% if mu.stripeHasCard %}
      <input class="pull-right" style="margin:0 0 0 0 ;width:100%;background-color:#2B86FF;color:#ffffff;font-weight:bold" type=submit value="Pay with card" onclick=loopSelected();>


    {% else %}

      <script src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
            data-key="{{stripeAppPubKey}}"
            data-description="Checkout"
            data-amount="{{order_total_incl_tax_in_cents}}"></script>
    {% endif %}

    <input type="hidden" name="orderSeqId" value={{basket.id}} /> 

    </form>
  </div>  {#charge form wrapper #}

 {% else %} {# no stripe setup #}
    <br><br>
{#    <h3> Unfortunately this seller has not registered with any of our payment methods. </h3> #}

 {% endif %}  {# seller is registered with payment #}

{% else %}

  <form method="post" action="{% url 'checkout:preview' %}" id="place-order-form">
        {% csrf_token %}
        <input type="hidden" name="action" value="place_order" />
        <input type="hidden" name="place-order" value="True" />
        <input type="hidden" name="basket_id" value="{{basket.id}}" />



        {% comment %}
            When submitting sensitive data on the payment details page (eg a bankcard)
            we don't want to save the data and so we pass the bound form to the preview
            template and render it in a hidden div.  Then the payment information will
            get re-submitted when the user confirms the order.
        {% endcomment %}
        <div style="display:none">
            {% block hiddenforms %}{% endblock %}
        </div>
        <div class="form-actions">
            <button id='place-order' type="submit" class="pull-right btn btn-primary btn-large js-disable-on-click" data-loading-text="{% trans 'Submitting...' %}">{% trans "Place order" %}</button>
        </div>

    </form>


{% endif %} {# stripe #}




{% endblock place_order %}
