.modalGiveBackDialog,  .modalShipInfo {
		position: fixed;
		ffont-family: Arial, Helvetica, sans-serif;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: rgba(0,0,0,0.44);
		z-index: 99999;
		opacity:0;
		-webkit-transition: opacity 220ms ease-in;
		-moz-transition: opacity 220ms ease-in;
		transition: opacity 220ms ease-in;
		pointer-events: none;
	}

 .modalGiveBackDialog > div, .modalDialog > div{
		width: 44%;
		position: relative;
		margin: 10% 10% 20% 36%;
		padding: 5px 20px 13px 20px;
		border-radius: 10px;
		border:8px solid #268a16;
		background: #fff;
		background: -moz-linear-gradient(#eee, #ddd);
		background: -webkit-linear-gradient(#eee, #ddd);
		background: -o-linear-gradient(#eee, #ddd);
	}



.modalShipInfo > div {

	   width: 54%;
		margin: 6% 10% 0% 10%;

		position: relative;
		padding: 5px 20px 13px 20px;
		border-radius: 10px;
		border:8px solid #268a16;
		background: #fff;
		background: -moz-linear-gradient(#eee, #ddd);
		background: -webkit-linear-gradient(#eee, #ddd);
		background: -o-linear-gradient(#eee, #ddd);
		overflow-y: auto;
		max-height: 82%;
		overflow-x: hidden;



	}
	
	.modalShipInfo .modalShipInfo-body, .modalGiveBackDialog > div, .modalDialog > div {
		
}



	@media (max-width: 567px) {
.modalShipInfo > div, .modalGiveBackDialog > div, .modalDialog > div {

		
			width: 94%;
		margin: 2% 2% 0% 0%;

		position: relative;
		padding: 5px 6px 6px 4%;
		border-radius: 10px;
		border:8px solid #268a16;
		background: #fff;
		background: -moz-linear-gradient(#eee, #ddd);
		background: -webkit-linear-gradient(#eee, #ddd);
		background: -o-linear-gradient(#eee, #ddd);
	}
	




}

	.mmodalDialog {
		position: fixed;
		ffont-family: Arial, Helvetica, sans-serif;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: rgba(0,0,0,0.6);
		z-index: 99999;
		opacity:0;
		-webkit-transition: opacity 300ms ease-in;
		-moz-transition: opacity 300ms ease-in;
		transition: opacity 300ms ease-in;
		pointer-events: none;
	}

	.modalDialog:target,  .modalGiveBackDialog:target, .modalShipInfo:target{
		opacity:1;
		pointer-events: auto;
	}

	.mmodalDialog > div {
		width: 40%;
		position: relative;
		margin: 10% 10%;
		padding: 5px 20px 13px 20px;
		border-radius: 10px;
		background: #fff;
		background: -moz-linear-gradient(#fff, #999);
		background: -webkit-linear-gradient(#fff, #999);
		background: -o-linear-gradient(#fff, #999);
	}



	.close {
		background-color: #eeeeee;

		color: #111111;
		opacity: 0.6;

		line-height: 36px;
		position: absolute;
		right: 5px;
		text-align: center;
		top: 3px;
		width: 36px;
		text-decoration: none;
		font-weight: bold;
		border-width:1px;
		border-color:#cccccc;
		-webkit-border-radius: 12px;
		-moz-border-radius: 12px;
		border-radius: 12px;
		-moz-box-shadow: 1px 1px 3px #000;
		-webkit-box-shadow: 1px 1px 3px #000;
		box-shadow: 1px 1px 3px #000;
	}

	.close:hover { background: #dddddd; }
	
/*
div.item, div.image-specs {
    bbackground:  #BAAF60;
    
    bbbackground: #BADF60;
}*/