
@media (max-width: 767px) {


html {
    background: none;
    background-repeat: inherit;
    margin:auto;
    width: auto;      
}


#wrapper {
width: auto;
overflow:auto;
margin: 0 auto;
padding:0;
}

#wrapperInvite{
width: auto;
overflow:auto;
margin: 0 auto;
}

hhtml, bbody { height: 100%; width: 100%; margin: 0; 

	     

}

  html {
        /*font-size: 20px;*/
    }


/*
@media (min-width: 858px) {
    html {
        font-size: 12px;
    }
}
*/


@font-face {
    font-family: 'Colaborate';
    src: url('fonts/ColabReg-webfont.eot');
    src: url('fonts/ColabReg-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ColabReg-webfont.woff') format('woff'),
         url('fonts/ColabReg-webfont.ttf') format('truetype'),
         url('fonts/ColabReg-webfont.svg#ColaborateRegular') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face{
    font-family: 'Colaborate';
    src: url('fonts/ColabLig-webfont.eot');
    src: url('fonts/ColabLig-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ColabLig-webfont.woff') format('woff'),
         url('fonts/ColabLig-webfont.ttf') format('truetype'),
         url('fonts/ColabLig-webfont.svg#ColaborateLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Miso';
    src: url('fonts/miso-regular-webfont.eot');
    src: url('fonts/miso-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/miso-regular-webfont.woff') format('woff'),
         url('fonts/miso-regular-webfont.ttf') format('truetype'),
         url('fonts/miso-regular-webfont.svg#MisoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Miso';
    src: url('fonts/miso-bold-webfont.eot');
    src: url('fonts/miso-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/miso-bold-webfont.woff') format('woff'),
         url('fonts/miso-bold-webfont.ttf') format('truetype'),
         url('fonts/miso-bold-webfont.svg#MisoBold') format('svg');
    font-weight: bold;
    font-style: normal;

}



/* Adds shadows */
div.items, div.cartitems {
    -webkit-box-shadow: #272229 10px 10px 20px;
    /*box shadow effect in Firefox*/
    -moz-box-shadow: #272229 10px 10px 20px;
    /*box shadow effect in IE*/
    filter: progid:DXImageTransform.Microsoft.Shadow(color='#272229', Direction=135, Strength=10);     
    /*box shadow effect in Browsers that support it, Opera 10.5 pre-alpha release*/
     box-shadow: #272229 10px 10px 20px;

}

/* Adds shadows */
div.item, div.cartitems button {
    w-webkit-box-shadow: #C2985D 6px 6px 10px;
    /*box shadow effect in Firefox*/
    w-moz-box-shadow: #272229 10px 10px 20px;
    /*box shadow effect in IE*/
    filter: progid:DXImageTransform.Microsoft.Shadow(color='#272229', Direction=135, Strength=10);     
    /*box shadow effect in Browsers that support it, Opera 10.5 pre-alpha release*/
     wbox-shadow: #BAB4AF 2px 2px 3px;

}


a:link {
    text-decoration:none;
}

div.footer {
    position: relative;
    margin-top: -180px; /* negative value of footer height */
    height: 180px;
    color:#AAAAAA;
    clear:both;
} 

   a.addPost , a.deletePost {

       background: #606061;
       color: #FFFFFF;
       border-radius:6;
       padding:5px;


}

	a.deletePost {
	       float:right;
		lline-height: 25px;
		pposition: absolute;
		right: -12px;
		text-align: center;
		ltop: -10px;
		lwidth: 24px;
		ltext-decoration: none;
		lfont-weight: bold;
	}


div.msg {

}

.linkbutton {
	background-color:#ddf2cb;
	border-radius:5px;

}

.orgButton {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ddf2cb), color-stop(1, #aee681) );
	background:-moz-linear-gradient( center top, #ddf2cb 5%, #aee681 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ddf2cb', endColorstr='#aee681');
	background-color:#ddf2cb;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:2px solid #268a16;
	ddisplay:inline-block;
	color:#306108;
	ffont-family:Verdana;
	ffont-size:15px;
	ffont-weight:bold;
	fpadding:9px 72px;
	ttext-decoration:none;
	width:80%;  
}.orgButton:hover {
	bbackground:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #aee681), color-stop(1, #ddf2cb) );
	bbackground:-moz-linear-gradient( center top, #aee681 5%, #ddf2cb 100% );
	ffilter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#aee681', endColorstr='#ddf2cb');
	bbackground-color:#aee681;
	color:#300000

}.orgButton:active {
	position:relative;
	top:1px;
}
/* This imageless css button was generated by CSSButtonGenerator.com */



a.gridViewS  {display:inline;margin-left:3%;}

a.gridView  {
    display:none;
}





#itemBottomLeft {
    width:75%;
}
    


div.order_status{
        font-size:1.2em;
}

aside{
    font-size:18px;
	float: right;
	width: 28%;
	min-height: 80px;
	margin: 10px 10px auto 10px;
}

div.item, div.image-specs, div.cartitem{
    bbackground: #FAF7F0;
    bbackground: #FFFFFF;
    
}


nav {
    font-family: Colaborate, Helvetica, Arial, sans-serif;
    dfont-family: Arial, sans-serif;
    margin-top:3%;
    font-size:0.8em;

}

nav a {
    bborder:2px solid;
    ccolor:#888888;
    mmargin-right:2%;
    ddisplay:inline-block;
    text-decoration:none;
}



div.body, h1, body{
	dfont-family: 'Sorts Mill Goudy', serif;
	ffont-family: Miso, sans-serif;
	font-family: Colaborate, Arial, sans-serif;

	ffont-family: 'Rambla', sans-serif;
	ffont-family: 'Comfortaa', cursive;



	/* scheme 1 
	background:  #BAAF50;
	*/
		
	/* scheme 2 
	background:  #FFFCCC;
        */
}


body {
	bbackground:  #FCF5DE;
	bbackground:  #FAF9F2;
	background:  #FFFFFE;

}


input { border-radius: 6px; }
#wideClear{ display:none;}

navright{
    float:right;
}

div.menuItems span {
    ddisplay:inline-block;    
    wwidth:20%;
    text-align:center;

}


div.homePageWrapper {

    ddisplay:inline-block;

}

 div.homeBlurb {
     display:none;
    float:none;width:80%;padding:5%;
}

div.homeLinks {
    font-size:2.4em;
    font-weight:bold;
    width:80%;
    margin:0 5% 5% 5%;
    text-align:center;
}

div.categoryBox{
    display:none;
}

div.logoIndex {
    width:80%;
    float:left;
    margin-top:4%;
    margin-left:9%;
    /*text-align:center;*/
}

div.logoInvite {
       margin-left:5%;
   	    width:68%;
   
}

div.logoInvite img{
	    min-width:260px;
	    text-align:center;
	    width:60%;
	 text-align:center;
    margin-top:0;
    

	}

img.logo {height:4em;width:auto;}

div.buttonIndexWrap {
    width:100%;
    float:none;
    display:none;
}


.buttonIndex {
    width:100%;
    margin:0 auto;
}

div.collageHome {
    display:none;
    width:100%;
}

div.collagePicsLandscape{
    width:80%;
    margin:0 0 0 0;
}

div.collagePicsLandscape a{
    text-align:center;
}

div.collagePicsPortrait{
    width:80%;
}

img.colllllagePic{
    float:none;
}

div.oplink {
    margin-left:1%;
    margin-right:1%;
    bcolor=#EEEEEE;
    bborder:2px solid;
    display:inline;
}


div.sellerinfo{
	float: right;
	width: 50%;
	min-width:none;
	max-width:none;
	min-height:0;
	background:  #eeeeee;
	border: 2px solid #888888;
	border-radius: 4px;
	margin: auto;
	margin-top:1%;
	padding: 2%;

}

div.sellerLinks{
    display:none;
}
div.sellerBio{
    display:none;
}

div.sellerPic {
    width:7em;
  }

div.sellerPic img {
width:7em;
}


div.itemSolo {
   bborder: 2px solid #B59FA8;
   bborder-radius: 6px;
   width: 100%;
   hheight: 180px;
   overflow:hidden;
   ppadding: 15px;
   display:inline-block;
   mmax-height:380px;
   float:left;
   mmargin:40px 8px 14px 0;
   /*clear:right; */
   pposition:relative;
}

div.sellerName{float:left;}

img.itemSolo_pics{

 max-width:100%;height:auto;max-height:60%;float:right;

}

div.item {
   bborder: 2px solid #859FA8;
   border-radius: 6px;
   width: 200px;
   height: 212px;
   overflow:hidden;
   padding: 15px;
   display:inline-block;
   mmax-height:380px;
   float:left;
   margin:0 8px 14px 0;
   /*clear:right; */
   position:relative;
}

img.item_pics{height:150px;width:auto;overflow:hidden;}


div.orderlistitem {
   border-bottom: 2px solid #DDDDDD;
   bborder-radius: 8px;
   width:55%;
   min-width:200px;
   /* max-width:336px; */
   overflow:hidden;
   padding: 10px;
   display:block;
   max-height:300px;
   margin-left:2%;
}

div.cartitem {

   border-bottom: 2px solid #DDDDDD;
   bborder-radius: 8px;
   width:82%;
   min-width:200px;
   /* max-width:336px; */
   overflow:hidden;
   padding: 10px;
   display:block;
   max-height:300px;
   mmargin:0 8px 0px 0;
   mmargin-left: auto ;
   mmargin-right: auto ;
}

div.price {
    color: #777777;
    font-size: large;
}



div.container {
    //border: 2px solid #000000;
    bborder-radius:6px;
    ooverflow: auto;
    width: 100%;
    mmargin: 5%;
}

div.itemcontainer {
    wwidth:80%;
}

hr { display: block;
     height: 1px;
     border: 0; 
     border-top: 2px solid #ccc;
     margin: 0 0; 
     padding: 0; }

div.category {
    bborder: 2px solid #000000;
    bborder-radius:2px;
    bborder-bottom: 2px solid #888888;
    overflow: auto;
    min-width: 100px;
    padding: 7px 10px 7px 10px;
    bbackground:  #BBBF60;
}

div.categorjksdy:after
{ 

    height:2px;
    background:#cccccc;
    width:100%;
    display:block;
    margin:0px auto;
    margin-top:5px;
    margin-bottom:5px;
    content:"";
}

div.itemgrid{
    clear:both;
}

input.wide, textarea.wide input.wideSearch{
    wwidth: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}


#browseBannerWide, #storeBannerWide, .noMobile {display:none;}
#storeBannerNarrow, .onlyMobile {display:block;}

textarea.wide {
    padding:2%;
    margin:4%;
    width:80%;
    hheight:5em;
}


div.left {
    width: 45%;
    float: left;
}

div.right {
    width: 45%;
    float: right;
}



div.category, div.categoryBox {
    font-family: Colaborate, Arial, sans-serif;
}

div.basket {

    float:none;
    width:100%;
    margin-bottom:3%;
    text-align:center;

}

#inviteForm{
    margin:3%;
    font-size:1em;
    text-align:center;
}

div.invitePics {
height:10em;
overflow:hidden;
}

div.invitePics img{
    
}

div.inviteBlurb {
    width:90%;
    padding:0;
    color:#247F24;
    font-size:1em;
    margin-left:10%;
    margin:3% 2% 2% 3%;
}


span.bigSpan {display:none;}

a.menuRightL{display:none;}
a.menuRightS{display:block;}

a.aboutMenu {display:none;}
a.contactMenu {display:none;}

a.blogMenuL {
    display:none;
}

a.blogMenuS {
    display:inline-block;
    float:left;
    mmargin-left:5%;
    mmargin-bottom:5%;
}

 div.giveBackBox{
     display:none;
}

ul#navigation li#menuListRL, ul#navigation li#menuListLL {
    display:none;
}

ul#navigation li#menuListRS, ul#navigation li#menuListLS  {
    display:inline-block;
}

ul#navigation {
    padding-left:0;
}


div.footer3 {display:none;}

img.detailPic {

  margin-bottom:2em;
  max-height:50%;
}


}