<span class="help-block">{{ form.non_field_errors }}</span>
{% for field in form %}
    {% if field.is_hidden %}
        {{ field }}
    {% else %}
        <span class="control-group {% if field.errors %}error{% endif %}">
          {% if forloop.last %} add another {{ field.label_tag|lower }} {% else %}{{ field.label_tag }}  {% endif %}  
            {{ field }}
            {% for error in field.errors %}
                <ul class="help-block">
                    <li>{{ error }}</li>
                </ul>
            {% endfor %}
            {# No help text as it wraps #}
        </span>
    {% endif %}
{% endfor %}
