{% load url from future %}
{% load i18n %}

<div id="top_page" class="navbar navbar-static-top accounts">
    <div class="navbar-inner">

        {# This is used in mobile view #}
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".account-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>

        <div class="nav-collapse account-collapse">
            <div class="container-fluid">
                {% if LANGUAGES|length > 1 %}
                    <form id="language_selector" class="pull-left navbar-form" action="/i18n/setlang/" method="post">
                        {% csrf_token %}
                        <select name="language">
                            {% for language in LANGUAGES %}
                            <option value="{{ language.0 }}" {% if LANGUAGE_CODE == language.0 %}selected="selected"{% endif %}>{{ language.1 }}</option>
                            {% endfor %}
                        </select>
                        <button class="btn" type="submit">{% trans "Go" %}</button>
                    </form>
                {% endif %}

                <ul class="nav pull-left">
              
                  <li>
                    <a href="{% url 'catalogue:index' %}"><i class="icon-home"></i> {% trans "HOME" %}</a>
                  </li>
                  <li>
                    <a href="{% url 'about' %}"><i class="icon-usr"></i> {% trans "ABOUT" %}</a>
                  </li>
                  <li>
                    <a href="{% url 'contactUs' %}"><i class="icon-use"></i> {% trans "CONTACT US" %}</a>
                  </li>

                   

                   <li>
                    <a href="{% url 'blogAll' %}"><i class="icon-use"></i> {% trans "BLOG" %}</a>
                  </li>
                   <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="{% url 'showEvents' %}"><i class="icon-use"></i> {% trans "EVENTS" %}<b class="caret"></b></a>

                      <ul class="dropdown-menu">
  <li>
                    <a href="{% url 'filterEvents' %}?workshop=True"><i class="icon-use"></i> {% trans "Workshops" %}</a>
                    </li>
                    <li>
                    <a href="{% url 'filterEvents' %}?swap=True"><i class="icon-use"></i> {% trans "Food Swaps" %}</a>
                    </li>
                    <li>
                    <a href="{% url 'showEvents' %}"><i class="icon-use"></i> {% trans "All Events" %}</a>
                    </li>
                      </ul>

                  </li>

                </ul>

                <ul class="nav pull-right">
                    {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'customer:summary' %}"><i class="icon-user"></i> {% trans "ACCOUNT" %}</a>
                        </li>
                        {% comment %}
                        <li>
                            <a href="{% url 'customer:notifications-inbox' %}">
                                <i class="icon-envelope"></i> {% trans "MESSAGES" %}
                                {% if num_unread_notifications > 0 %}
                                    <span class="label label-important">{{ num_unread_notifications }}</span>
                                {% endif %}</a>
                        </li>
                        {% endcomment %}
                        {% if user.partner  %}
                            <li><a href="{% url 'catalogue:index' %}?booth={{request.user.partner.name}}"><i class="icon-hand-u"></i>MY BOOTH</a></li>
                        {% else %}
                         <li><a href="{% url 'dashboard:index' %}"><i class="icon-list-ul"></i> {% trans "Dashboard" %}</a></li>
                         <li><a href="{% url 'register_store' %}"><i class="icon-hand-up"></i> {% trans "OPEN A BOOTH" %}</a></li>

                        {% endif %}
                        <li><a href="{% url 'customer:logout' %}"><i class="icon-signout"></i> {% trans "LOGOUT " %}{{user.email}}</a></li>
                    {% else %}
                        <li><a href="{% url 'customer:login' %}"><i class="icon-signin"></i> {% trans "LOGIN or REGISTER" %}</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>

    </div>
</div>
