{% load url from future %}
{% load i18n %}

<div id="top_page" class="navbar navbar-static-top accounts">
    <div class="navbar-inner">

        {# This is used in mobile view #}
        <a class="btn btn-navbar" style="margin-left:0;" data-toggle="collapse" data-target=".account-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            
        </a>

                

        <div class="nav-collapse account-collapse">
            <div class="container-fluid">
                {% if LANGUAGES|length > 1 %}
                    <form id="language_selector" class="pull-left navbar-form" action="/i18n/setlang/" method="post">
                        {% csrf_token %}
                        <select name="language">
                            {% for language in LANGUAGES %}
                            <option value="{{ language.0 }}" {% if LANGUAGE_CODE == language.0 %}selected="selected"{% endif %}>{{ language.1 }}</option>
                            {% endfor %}
                        </select>
                        <button class="btn" type="submit">{% trans "Go" %}</button>
                    </form>
                {% endif %}

                <ul class="nav pull-left">
              
                  <li>
                    <a href="{% url 'catalogue:index' %}"><i class="icon-home"></i> {% trans "HOME" %}</a>
                  </li>
                   <li class="divider-vertical"></li>                   

            

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="{% url 'about' %}">{% trans "ABOUT" %}<b class="caret"></b></a>

                      <ul class="dropdown-menu">
                    <li>
                      <a href="{% url 'about' %}">{% trans "Our Mission" %}</a>
                    </li>
                  <!--   <li>
                      <a href="{% url 'aboutCaliLaw' %}">{% trans "About CA1616" %}</a>
                    </li> -->
                    <li>
                      <a href="{% url 'bios' %}">{% trans "Our Team" %}</a>
                    </li>
                    <li>
                      <a href="{% url 'resources' %}">{% trans "Other Resources" %}</a>
                    </li>

                    </ul>

                  </li>





                   <li class="divider-vertical"></li>                   

                  <li>
                    <a href="{% url 'contactUs' %}">{% trans "CONTACT US" %}</a>
                  </li>

 <li class="divider-vertical"></li>                   

                  
                   <li>
                    <a href="{% url 'filterEvents' %}?blog=True">{% trans "BLOG" %}</a>
                  </li>
                   <li class="divider-vertical"></li>                   

                   <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="{% url 'showEvents' %}">{% trans "EVENTS" %}<b class="caret"></b></a>

                      <ul class="dropdown-menu">
  <li>
                    <a href="{% url 'filterEvents' %}?workshop=True">{% trans "Workshops" %}</a>
                    </li>
                    {% comment %}
                    <li>
                    <a href="{% url 'filterEvents' %}?swap=True">{% trans "Food Swaps" %}</a>
                    </li>
                    {% endcomment %}
                    <li>
                    <a href="{% url 'showEvents' %}"> {% trans "All Events" %}</a>
                    </li>
                      </ul>

                  </li>

                </ul>

                <ul class="nav pull-right">
                    {% if user.is_authenticated %}
                        <li>
                            <a id="my-account" href="{% url 'customer:summary' %}"><i class="icon-user"></i> {% trans "ACCOUNT" %}</a>
                        </li>
                                           <li class="divider-vertical"></li>                   

                        {% comment %}
                        <li>
                            <a href="{% url 'customer:notifications-inbox' %}">
                                <i class="icon-envelope"></i> {% trans "MESSAGES" %}
                                {% if num_unread_notifications > 0 %}
                                    <span class="label label-important">{{ num_unread_notifications }}</span>
                                {% endif %}</a>
                        </li>
                        {% endcomment %}
                        {% if user.partner  %}
                            <li><a id="my-booth" href="{% url 'catalogue:index' %}?booth={{request.user.partner.id}}">MY BOOTH</a></li>
                        {% else %}

                         <li><a id="open-booth" href="{% url 'register_store' %}"> {% trans "SELL" %}</a></li>

                        {% endif %}
                                           <li class="divider-vertical"></li>                   

                        {% if user.is_staff %}
                         <li><a href="{% url 'dashboard:index' %}"> {% trans "Admin" %}</a></li>
                                            <li class="divider-vertical"></li>                   

                        {% endif %}


                        <li><a href="{% url 'customer:logout' %}">{#<i class="icon-signout"></i>#} {% trans "LOGOUT " %}{#{{user.email}}#}</a></li>
                    {% else %}
                        <li><a href="{% url 'customer:login' %}"><i class="icon-signin"></i> {% trans "LOGIN or REGISTER" %}</a></li>
                    {% endif %}

                    {#{% if user.is_authenticated %}#}
                    
                    <li class="divider-vertical"></li>                   

                    <li style="margin-right:0"><a style="mmargin-right:0;padding-right:6px" href="{% url 'basket:summary' %}"> BASKET </a></li>

                     <li style="margin-left:0;padding-left:0"><a style="margin-left:0;padding-left:0" href="{% url 'basket:summary' %}"> <img src="{{STATIC_URL}}icons/Icon-Basket-A.png" class="basketIcon" alt=''> </a></li>
                     {#{% endif  %}#}

                </ul>
            </div>
        </div>

    </div>
</div>
